<template>
  <v-container grid-list-xl fluid>
    <v-toolbar-items>
      <v-btn flat to="/profesor/miscursos"> Volver a mis cursos </v-btn>
    </v-toolbar-items>

    <div id="pageMisCursos">
      <v-container grid-list-xl fluid>
        <v-layout row wrap>
          <v-flex lg10 sm12 xs12>
            <contenido-table></contenido-table>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </v-container>
</template>

<script>
import ContenidoTable from "@/components/widgets/list/ContenidoTable";

export default {
  layout: "dashboard-profes",
  async mounted(){
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
     if(configuracion!=null){
       bodyStyles.setProperty('--primary-color', configuracion.cPrincipal);
        bodyStyles.setProperty('--secondary-color', configuracion.cSecundario);
     }else{
       let response = await this.$store.dispatch("getConfiguracion");
        bodyStyles.setProperty('--primary-color', response.cPrincipal);
        bodyStyles.setProperty('--secondary-color', response.cSecundario);
     }
  },
  components: {
    ContenidoTable,
  },
  data: () => ({}),
  computed: {},
};
</script>
