<template>
  <v-container grid-list-xl fluid>
    <div id="pageMisCursos">
      <v-container grid-list-xl fluid>
        <v-layout row wrap>
          <v-flex lg10 sm12 xs12>
            <cursos-table></cursos-table>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </v-container>
</template>

<script>
import CursosTable from "@/components/widgets/list/CursosTable";

export default {
  layout: "dashboard-profes",
  async mounted(){
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
     if(configuracion!=null){
       bodyStyles.setProperty('--primary-color', configuracion.cPrincipal);
        bodyStyles.setProperty('--secondary-color', configuracion.cSecundario);
     }else{
       let response = await this.$store.dispatch("getConfiguracion");
        bodyStyles.setProperty('--primary-color', response.cPrincipal);
        bodyStyles.setProperty('--secondary-color', response.cSecundario);
     }
  },
  components: {
    CursosTable,
  },
  data: () => ({}),
  computed: {},
};
</script>
