<template>
  <AulaForm :accion="accion" :aulaId="this.id"></AulaForm>
</template>


<script>
export default {
  layout: "dashboard-admin",
  async mounted(){
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
     if(configuracion!=null){
       bodyStyles.setProperty('--primary-color', configuracion.cPrincipal);
        bodyStyles.setProperty('--secondary-color', configuracion.cSecundario);
     }else{
       let response = await this.$store.dispatch("getConfiguracion");
        bodyStyles.setProperty('--primary-color', response.cPrincipal);
        bodyStyles.setProperty('--secondary-color', response.cSecundario);
     }
  },
  async asyncData({ params }) {
    const id = params.id; // When calling /abc the slug will be "abc"
    return { id };
  },
  data() {
    return {
      accion: "editar",
    };
  },
  created() {
    console.log(`editare el aula: ${this.accion} - ${this.id}`);
  },
};
</script>
