<template>
  <div id="aulaRegistrar">
    <AulaForm></AulaForm>
  </div>
</template>

<script>
import AulaForm from "@/components/widgets/form/AulaForm";
export default {
  layout: "dashboard-admin",
  async mounted(){
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
     if(configuracion!=null){
       bodyStyles.setProperty('--primary-color', configuracion.cPrincipal);
        bodyStyles.setProperty('--secondary-color', configuracion.cSecundario);
     }else{
       let response = await this.$store.dispatch("getConfiguracion");
        bodyStyles.setProperty('--primary-color', response.cPrincipal);
        bodyStyles.setProperty('--secondary-color', response.cSecundario);
     }
  },
  components: {
    AulaForm,
  },
};
</script>

<style>
</style>