<template>
  <v-layout>
    <v-flex>
      <v-sheet
        height="500"
        :class="
          $vuetify.breakpoint.smAndDown ? 'calendario_reducido' : 'calendario'
        "
      >
        <!-- now is normally calculated by itself, but to keep the calendar in this date range to view events -->
        <v-calendar
          ref="calendar"
          :now="today"
          :value="today"
          color="primary"
          type="week"
          locale="es"
          interval-height="50"
          :interval-style="interval_style"
          :weekdays="[1, 2, 3, 4, 5, 6, 0]"
          :short-weekdays="$vuetify.breakpoint.smAndDown ? true : false"
        >
          <!-- the events at the top (all-day) -->
          <template v-slot:dayHeader="{ date }">
            <template v-for="event in eventsMap[date]">
              <!-- all day events don't have time -->
              <div
                v-if="!event.hora_inicio"
                :key="event.title"
                class="my-event"
                @click="open(event)"
                v-html="event.title"
              ></div>
            </template>
          </template>
          <!-- the events at the bottom (timed) -->
          <template v-slot:dayBody="{ date, timeToY, minutesToPixels }">
            <template v-for="(event, index) in eventsMap[date]">
              <!-- timed events -->
              <div
                v-if="event.hora_inicio"
                :key="index"
                :style="{
                  top: timeToY(event.hora_inicio) + 'px',
                  height: minutesToPixels(event.duration) + 'px',
                }"
                :class="eventClass(index)"
                @click="open(event)"
                v-html="event_text(event)"
              ></div>
            </template>
          </template>
        </v-calendar>
      </v-sheet>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ["rol"],

  data: () => ({
    today: "2019-01-08",
    events: [
      {
        title: "Weekly Meeting",
        date: "2019-01-07",
        hora_inicio: "09:00",
        duration: 45,
      },
      {
        title: "Thomas' Birthday",
        date: "2019-01-10",
      },
      {
        title: "Mash Potatoes",
        date: "2019-01-09",
        hora_inicio: "12:30",
        duration: 180,
      },
    ],
  }),
  computed: {
    // convert the list of events into a map of lists keyed by date
    eventsMap() {
      const map = {};
      this.eventosProfe.forEach((e) => {
        (map[e.date] = map[e.date] || []).push(e);
      });

      return map;
    },

    eventosProfe() {
      if (this.rol == "alumno") {
        return this.$store.getters.getHorarioAlumno;
      } else if (this.rol == "profesor") {
        return this.$store.getters.getHorarioProfesor;
      }
    },
  },
  mounted() {
    var todayDate = new Date();
    var date =
      todayDate.getFullYear() +
      "-" +
      (todayDate.getMonth() + 1) +
      "-" +
      todayDate.getDate();
    this.today = date;

    this.$refs.calendar.scrollToTime("07:00");
    var idUser = this.$store.getters.getUsuario.id;
    if (this.rol == "alumno") {
      this.$store.dispatch("getHorarioAlumno", idUser);
    } else if (this.rol == "profesor") {
      this.$store.dispatch("getHorarioProfesor", idUser);
    }
  },
  methods: {
    eventClass(index) {
      return index % 2 == 0
        ? "my-event with-time"
        : "my-event with-time alternative-color";
    },

    open(event) {
      /*      this.$toast.error(event.title, {
        position: "top-center",
        duration: 3000
      });*/

      if (this.rol == "profesor") {
        this.$router.push(
          "/profesor/contenido?idAulaCurso=" +
            event.aula_curso_id +
            "&nombreCurso=" +
            event.title
        );
      } else {
        this.$router.push(
          "/alumno/cursos/contenido?idAulaCurso=" +
            event.aula_curso_id +
            "&nombreCurso=" +
            event.title
        );
      }
    },
    interval_style() {
      return ".v-calendar-daily__interval-text { font-size: 12px} ";
    },
    event_text(event) {
      if (this.rol == "alumno") {
        return event.title;
      } else if (this.rol == "profesor") {
        return event.title + " - " + event.nombre_aula;
      }
    },
  },
};
</script>

<style lang="stylus">
.my-event {
  word-wrap: normal;
  text-overflow: ellipsis;
  border-radius: 2px;
  background-color: #1867c0;
  color: #ffffff;
  border: 1px solid #1867c0;
  font-size: 14px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
  left: 6px;
  margin-right: 8px;
  position: relative;

  &.with-time {
    position: absolute;
    right: 4px;
    margin-right: 0px;
  }

  &.alternative-color {
    background-color: #c0182c;
    border: 1px solid #c0182c;
  }
}

.calendario {
  margin: 3%;
}

.calendario_reducido {
  margin: 2%;
}

.calendario .v-calendar-daily__interval-text {
  font-size: 12px;
}

.calendario_reducido .v-calendar-daily__interval-text {
  font-size: 10px;
}

.calendario_reducido .v-calendar-daily_head-day-label {
  font-size: 25px;
}
</style>
