<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <div class="text-xs-center my-2">
        <v-chip color="indigo" text-color="white">
          <v-avatar class="indigo darken-4"> <v-icon>event</v-icon> </v-avatar
          >{{ fecha }}</v-chip
        >
      </div>

      <v-list two-line subheader>
        <v-subheader v-if="rol !== 'alumno'">Clases</v-subheader>

        <v-subheader v-else-if="cursos_del_dia.length > 0"
          >Clases para el aula
          {{ cursos_del_dia[0].aula_curso.aula.grado.valor }}°
          {{ cursos_del_dia[0].aula_curso.aula.seccion }} -
          {{ cursos_del_dia[0].aula_curso.aula.nivel.nombre }}
        </v-subheader>

        <v-divider></v-divider>

        <template v-for="(curso, index) in cursos_del_dia">
          <v-divider
            v-if="curso.divider"
            :key="index"
            :inset="curso.inset"
          ></v-divider>

          <v-list-tile v-else :key="index" avatar>
            <v-list-tile-avatar>
              <v-icon v-if="claseActiva() == false">library_books</v-icon>
              <v-icon v-else color="warning">access_time</v-icon>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>
                {{ formatHoraClase(curso.hora_inicio) }} -
                {{ formatHoraClase(curso.hora_fin) }}
              </v-list-tile-title>
              <v-list-tile-sub-title color="black"
                >Clase:
                {{ curso.aula_curso.curso.nombre }}</v-list-tile-sub-title
              >
              <v-list-tile-sub-title v-if="rol !== 'alumno'"
                >Aula: {{ curso.aula_curso.aula.grado.valor }}°
                {{ curso.aula_curso.aula.seccion }} -
                {{ curso.aula_curso.aula.nivel.nombre }}
              </v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn medium color="base-secondary" @click="goToCurso(curso)">
                Ir
                <v-icon medium right color="secondary">arrow_right_alt </v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </template>
      </v-list>

      <v-flex xs12 class="flexible" v-if="cursos_del_dia.length == 0">
        <v-chip color="success" text-color="white">
          No hay clases para el día de hoy.
          <v-icon right>mood</v-icon>
        </v-chip>
      </v-flex>
      <v-divider></v-divider>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ["rol"],

  components: {},
  data: () => ({
    fecha: "",
  }),
  created() {
    var idUsuario = this.$store.getters.getUsuario.id;
    console.log("id usuario:" + idUsuario);
    if (this.rol == "alumno") {
      this.$store.dispatch("getDiaAlumno", idUsuario);
    } else if (this.rol == "profesor") {
      this.$store.dispatch("getDiaProfesor", idUsuario);
    }
  },
  mounted() {
    const DIAS = [
      "Domingo",
      "Lunes",
      "Martes",
      "Miércoles",
      "Jueves",
      "Viernes",
      "Sábado",
    ];

    var today = new Date();
    this.fecha = DIAS[today.getDay()] + ", " + today.toLocaleDateString();
  },
  computed: {
    cursos_del_dia() {
      var diaUsuario = {};
      if (this.rol == "alumno") diaUsuario = this.$store.getters.getDiaAlumno;
      else if (this.rol == "profesor")
        diaUsuario = this.$store.getters.getDiaProfesor;

      //Agregando los dividers para cada clase
      if (diaUsuario) {
        diaUsuario.forEach((element) => {
          console.log(diaUsuario.indexOf(element));
        });

        var arr = diaUsuario;
        if (arr.length > 0) {
          var dividerElem = { divider: true, inset: true };
          var newArr = [...arr]
            .map((e, i) => (i < arr.length - 1 ? [e, dividerElem] : [e]))
            .reduce((a, b) => a.concat(b));
          return newArr;
        } else {
          return arr;
        }
      } else {
        return [];
      }
    },
    binding() {
      const binding = {};

      if (this.$vuetify.breakpoint.smAndUp) binding.row = true;
      else binding.column = true;
      return binding;
    },
  },

  methods: {
    claseActiva() {
      return false;
    },
    formatHoraClase(cadenaTiempo) {
      var arr = cadenaTiempo.split(":");
      var hora = parseInt(arr[0]);
      var turno = hora >= 12 ? "pm" : "am";
      if (hora > 12) hora = hora - 12;
      var tiempo = hora + ":" + arr[1] + " " + turno;
      return tiempo;
    },

    goToCurso(curso) {
      if (this.rol == "profesor") {
        this.$router.push(
          "/profesor/contenido?idAulaCurso=" +
            curso.aula_curso.id +
            "&nombreCurso=" +
            curso.aula_curso.curso.nombre
        );
      } else {
        this.$router.push(
          "/alumno/cursos/contenido?idAulaCurso=" +
            curso.aula_curso.id +
            "&nombreCurso=" +
            curso.aula_curso.curso.nombre
        );
      }
    },
  },
};
</script>


<style>
.dia-title {
  margin-bottom: 20px;
  margin-top: 20px;
}
.flexible {
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 0px;
}
.layout-curso .flex {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  margin-top: 1px;
}
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>