<template>
  <div>
    <v-dialog v-model="dialogimport" max-width="800px" scrollable>
      <v-card>
        <v-card-title>
          <span class="headline">Datos del archivo:</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <div>
            <h4>PROCESANDO {{ importProcess }}/{{ importData.length }}</h4>
          </div>
          <v-data-table
            :headers="importHeaders"
            :items="importData"
            hide-actions
            class="elevation-0"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.index + 1 }}</td>
              <td
                v-bind:key="index"
                v-for="(value, propertyName, index) in props.item"
                class="text-xs-left"
              >
                <div v-if="index > 0">
                  {{ value }}
                </div>
                <div v-else>
                  <v-chip
                    v-if="value == 'PENDIENTE'"
                    color="grey"
                    text-color="white"
                    >{{ value }}</v-chip
                  >
                  <v-chip
                    v-if="value == 'EXITO'"
                    color="green"
                    text-color="white"
                    >{{ value }}</v-chip
                  >
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-chip
                        v-if="value == 'FALLO'"
                        color="red"
                        text-color="white"
                        v-bind="attrs"
                        v-on="on"
                        >{{ value }}</v-chip
                      >
                    </template>
                    <span>{{  errorData.find((e)=> e.aulaIndex == props.index)?errorData.find((e)=> e.aulaIndex == props.index).mensaje:""  }}</span>
                  </v-tooltip>
                </div>
              </td>
            </template>
            <template v-slot:no-results>
              <v-alert :value="true" color="error" icon="warning">
                Tu búsqueda no generó resultados.
              </v-alert>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <div v-if="finImport">
            <v-btn color="blue darken-1" flat @click="exitImport">Salir</v-btn>
          </div>
          <div v-else>
            <v-btn color="blue darken-1" flat @click.native="importDataFile" :loading="confirmarLoading"
              >Confirmar</v-btn
            >
            <v-btn
              color="blue darken-1"
              flat
              @click.native="dialogimport = false"
              >Cancelar</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UtilImport from './utils';
export default {
  name: "ImportAulas",
  props: {
    method: String, //Metodo del API usado para insertar cada dato del import
    exitMethod: String, //Metodo del API usado para refrescar los datos totales al finalizar el import (Opcional)
  },
  data: () => ({
    importHeaders: [
      { text: "#", sortable: false, value: "id", align: "left" },
      { text: "Estado Registro", value: "estado", align: "left" },
      { text: "Grado", value: "grado", align: "left" },
      { text: "Seccion", value: "seccion", align: "left" },
      { text: "Nivel", value: "nivel", align: "left" },
      { text: "Num. Alumnos", value: "numero", align: "Center" },
    ],
    confirmarLoading:false,
    importProcess: 0,
    /**Datos basicos de las aulas*/
    importData: [],
    /**Alumnos de cada aula */
    alumnosData: [],
    /**Mensaje de error en el tooltip */
    errorData: [],
    /**Niveles para comparar de la base de datos */
    niveles: [],
    /**Grados para comparar de la base de datos */
    grados: [],
    /**Periodo actual */
    periodoActual: null,
    dialogimport: false,
    finImport: false,
    currentFile: null,
  }),
  methods: {
    async importDataFile() {
      this.loadingImport= true;
      await this.getData();
      if (
        this.grados.length > 0 &&
        this.niveles.length > 0 &&
        this.periodoActual
      )
        if (this.alumnosData && this.alumnosData.length > 0)
          await this.$store.dispatch("getAlumnosNuevosValidar").then(async (response) => {
            if (response.status) {
              this.alumnosData.forEach(async(item, index) => {
                let list = [];
                let errorList = [];
                this.importProcess++;
                /*Validacion de DNI existentens en la BD */
                item.forEach((dni) => {
                  let alumno = response.body.find((e) => e.dni == dni);
                  if (alumno) {
                    list.push(alumno);
                  } else {
                    errorList.push(dni);
                  }
                });
                if (item.length == list.length && errorList.length == 0) {
                  /*Guardar Aula*/
                  let grado = this.grados.find(
                    (e) => e.valor == this.importData[index].grado
                  );
                  let nivel = this.niveles.find(
                    (e) => e.nombre == this.importData[index].nivel
                  );
                  if(grado && nivel) {
                    let aulaData = {
                      grado_id: grado.id,
                      nivel_id: nivel.id,
                      periodo_id: this.periodoActual.id,
                      seccion: this.importData[index].seccion,
                    };
                    await this.$store
                    .dispatch("addAulaData", aulaData)
                    .then(async(response) => {
                      if(response.status){
                        let aulaId = response.body.id;
                        let alumnosData = [];
                        list.forEach((element) => {
                          if(!element.pivot){
                            alumnosData.push(
                              { aula_id: aulaId, alumno_id: element.id }
                            )  
                          }
	                      });
                        let alumnosArray = {};
                        alumnosArray.body = alumnosData;
                        alumnosArray.removed = [];
                        await this.$store
                          .dispatch("addAulaAlumnos", alumnosArray)
                          .then((response) => {
                            if (response.status) {
                              this.importData[index].estado_registro = "EXITO";
                              return;
                            }else{
                              this.errorInsert(index, "No se han podido guardar los alumnos del aula");
                            }
                          });
                      }else{
                        this.errorInsert(index, "No se ha podido guardar los datos del aula");
                      }
                      return;
                    },(error)=>{
                        this.errorInsert(index, "Error 422: Error en los datos de entrada");
                    });
                  }else{
                    this.errorInsert(index, "El nivel, grado o el periodo actual son erroneos");
                  }
                } else {
                  /*Listado de DNI's que no fueron encontrados*/
                  let str = "";
                  errorList.forEach((e, index)=>{
                    if(errorList.length-1 == index)
                      str = str.concat(e).concat('.');
                    else
                      str = str.concat(e).concat(", ");
                  })
                  this.errorInsert(index, "Los siguientes DNI's no se encontraron o ya han sido registrados en otras aulas: ".concat(str));
                  return;
                }
              });
            }
          });
          this.loadingImport= false;
          this.finImport= true;          
    },
    errorInsert(index,mensaje){
      let error = this.errorData.find(e=>e.aulaIndex==index);
      if(error){
        error.mensaje = mensaje;
      }else{
        this.errorData.push({
          aulaIndex: index,
          mensaje: mensaje
        });
      }
      this.importData[index].estado_registro = "FALLO";
    },
    async getData() {
      this.niveles = await this.$store.dispatch("getNivel").then((response) => {
        if (response.status) {
          return response.body;
        }
      });
      this.grados = await this.$store.dispatch("getGrado").then((response) => {
        if (response.status) {
          return response.body;
        }
      });
      this.periodoActual = await this.$store
        .dispatch("getAniosAula")
        .then((response) => {
          if (response.status) {
            return response.body.find((item) => item.estado == 1);
          }
        });
    },
    exitImport() {
      this.dialogimport = false;
      this.$store.dispatch("getAulas");
      this.finImport = false;
    },
    /**Lectura del archivo excel */
    csvJSON(csv) {
      if(!csv || !csv.length>0) return;
      
      var lines = csv.split("\n");
       /**Validacion de caracteres */
      let charSeparator = UtilImport.getCharSeparator(lines[0]);
      if(charSeparator=="") return;
      
      var numLines = lines.length;
      let aulas = [];
      this.alumnosData = [];
      this.importData = [];
      var index = 0;
      while (index < numLines) {
        if (lines[index] == "") break;
        var datos = lines[index++].split(charSeparator);
        var aula = {
          estado_registro: "PENDIENTE",
          grado: datos[0],
          seccion: datos[1],
          nivel: datos[2],
        };
        var alumnos = [];
        do {
          var line = lines[index].split(charSeparator);
          if (
            line[0].localeCompare("#") == 0 ||
            line[0].localeCompare("") == 0
          ) {
            index++;
            break;
          }
          alumnos.push(line[0]);
          index++;
        } while (index < numLines);
        aula.numAlumnos = alumnos.length;
        this.alumnosData.push(alumnos);
        aulas.push(aula);
      }
      if (aulas && aulas.length > 0) {
        this.importData = aulas;
      }
    },
    initDialog(e1, importObj) {
      this.currentFile = undefined;
      this.importProcess = 0;
      if (
        e1 == null ||
        e1.target == null ||
        e1.target.files == null ||
        e1.target.files.length == 0
      ) {
        importObj.loadingImport = false;
        return;
      }
      var vm = this;
      var files = e1.target.files;
      this.currentFile = files[0];
      var reader = new FileReader();
      reader.readAsText(this.currentFile);
      e1.target.value = null;
      reader.onload = function (e2) {
        var csv = e2.target.result;
        vm.csvJSON(csv);
      };
      importObj.loadingImport = false;
      this.dialogimport = true;
    },
  },
};
</script>

<style>
</style>