<template>
  <div>
    <v-dialog v-model="dialogimport" max-width="800px" scrollable>
      <v-card>
        <v-card-title>
          <span class="headline">Datos del archivo:</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <div>
            <h4>PROCESANDO {{ importProcess }}/{{ importData.length }}</h4>
          </div>
          <v-data-table
            :headers="importHeaders"
            :items="importData"
            :search="busquedaModel"
            hide-actions
            class="elevation-0"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.index + 1 }}</td>
              <td
                v-bind:key="index"
                v-for="(value, propertyName, index) in props.item"
                class="text-xs-left"
              >
                <div v-if="index > 0">
                  {{ value }}
                </div>
                <div v-else>
                   <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-chip
                        v-if="value == 'PENDIENTE'"
                        color="grey"
                        text-color="white"
                        v-bind="attrs"
                        v-on="on"
                        >{{ value }}</v-chip
                      >
                    </template>
                    <span>Test</span>
                  </v-tooltip>
                  <v-chip
                    v-if="value == 'EXITO'"
                    color="green"
                    text-color="white"
                    >{{ value }}</v-chip
                  >
                  <v-chip
                    v-if="value == 'FALLO'"
                    color="red"
                    text-color="white"
                    >{{ value }}</v-chip
                  >
                </div>
              </td>
            </template>
            <template v-slot:no-results>
              <v-alert :value="true" color="error" icon="warning">
                Tu búsqueda no generó resultados.
              </v-alert>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <div v-if="finImport">
            <v-btn color="blue darken-1" flat @click="exitImport">Salir</v-btn>
          </div>
          <div v-else>
            <v-btn color="blue darken-1" flat @click.native="importDataFile"
              >Confirmar</v-btn
            >
            <v-btn
              color="blue darken-1"
              flat
              @click.native="dialogimport = false"
              >Cancelar</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UtilImport from './utils';
export default {
  name: "ImportGeneric",
  props: {
    method: String, //Metodo del API usado para insertar cada dato del import
    exitMethod: String, //Metodo del API usado para refrescar los datos totales al finalizar el import (Opcional)
  },
  data: () => ({
    importProcess: 0,
    importHeaders: [],
    importData: [],
    dialogimport: false,
    busquedaModel: "",
    currentFile: null,
    finImport: false,
  }),
  methods: {
    csvJSON(csv) {
      var vm = this;
      this.importData = [];

      this.importHeaders = [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
      ];
      var lines = csv.split("\n");
      lines[0] = lines[0].replace("\r", "");
      /**Validacion de caracteres */
      let charSeparator = UtilImport.getCharSeparator(lines[0]);
      if(charSeparator=="") return;

      var header = lines[0].split(charSeparator);

      header.unshift("estado_registro");
      header.map((h) => {
        let form = {};
        form.text = h;
        this.importHeaders.push(form);
      });
      lines.shift();
      lines.map((l) => {
        if (l == "") return;
        let form = {};
        let data = l.split(charSeparator);
        data.unshift("PENDIENTE");
        data.map((d, i) => {
          form[header[i]] = d;
        });
        console.log("FORM",form);
        this.importData.push(form);
      });
      this.dialogimport = true;
    },
    onFilePicked(e1) {
      this.currentFile = undefined;
      if (
        e1 == null ||
        e1.target == null ||
        e1.target.files == null ||
        e1.target.files.length == 0
      )
        return;
      var vm = this;
      var files = e1.target.files;
      this.currentFile = files[0];
      var reader = new FileReader();
      reader.readAsText(this.currentFile);
      e1.target.value = null;
      reader.onload = function (e2) {
        var csv = e2.target.result;
        vm.csvJSON(csv);
      };
    },
    /**
     * Parent Component:
     *
     * @registrar-values="_METHOD_ON_PARENT_"
     *
     */

    storedApi(item, formModel) {
      this.$store
        .dispatch(this.method, item)
        .then((response) => {
          formModel.estado_registro = "EXITO";
          this.importProcess++;
        })
        .catch((err) => {
          console.log(err);
          formModel.estado_registro = "FALLO";
          this.importProcess++;
        });
    },
    importDataFile() {
      this.importProcess = 0;
      this.finImport = true;
      this.importData.map((i) => {
        let item = this.$emit("registrarValores", i);
      });
    },

    exitImport() {
      if (this.exitMethod) {
        this.$store.dispatch(this.exitMethod);
      }

      this.dialogimport = false;
    },
  },
};
</script>

<style>
</style>