<template>
  <div id="alumnos">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12 sm12 xs12>
          <AdminsTable />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  layout: "dashboard-admin",
  data() {
    return {};
  },

  async mounted() {
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
    if (configuracion != null) {
      bodyStyles.setProperty("--primary-color", configuracion.cPrincipal);
      bodyStyles.setProperty("--secondary-color", configuracion.cSecundario);
    } else {
      let response = await this.$store.dispatch("getConfiguracion");
      bodyStyles.setProperty("--primary-color", response.cPrincipal);
      bodyStyles.setProperty("--secondary-color", response.cSecundario);
    }
  },
  computed: {},
};
</script>

<style></style>
