<template>
  <v-navigation-drawer
    id="appDrawer"
    :mini-variant.sync="mini"
    fixed
    :dark="$vuetify.dark"
    app
    v-model="drawer"
    width="260"
  >
    <v-toolbar color="base-color darken-1" dark>
      <nuxt-link to="/" class="mg-auto">
        <img :src="logoImg" height="56" alt="Vue Material Admin Template" />
      </nuxt-link>
    </v-toolbar>
    <vue-perfect-scrollbar
      class="drawer-menu--scroll"
      :settings="scrollSettings"
    >
      <v-list dense expand>
        <template v-for="(item, i) in menus">
          <!--group with subitems-->
          <v-list-group
            v-if="item.items"
            :key="item.name"
            :group="item.group"
            :prepend-icon="item.icon"
            no-action="no-action"
          >
            <v-list-tile slot="activator" ripple="ripple">
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <template v-for="(subItem, i) in item.items">
              <!--sub group-->
              <v-list-group
                v-if="subItem.items"
                :key="subItem.name"
                :group="subItem.group"
                sub-group="sub-group"
              >
                <v-list-tile slot="activator" ripple="ripple">
                  <v-list-tile-content>
                    <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile
                  v-for="(grand, i) in subItem.children"
                  :key="i"
                  :to="grand.href ? grand.href : null"
                  ripple="ripple"
                >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ grand.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list-group>
              <!--child item-->
              <v-list-tile
                v-else
                :key="i"
                :to="subItem.href ? subItem.href : null"
                :disabled="subItem.disabled"
                :target="subItem.target"
                ripple="ripple"
              >
                <v-list-tile-content>
                  <v-list-tile-title>
                    <span>{{ subItem.title }}</span>
                  </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action v-if="subItem.action">
                  <v-icon :class="[subItem.actionClass || 'success--text']">{{
                    subItem.action
                  }}</v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </template>
          </v-list-group>
          <v-subheader v-else-if="item.header" :key="i">{{
            item.header
          }}</v-subheader>
          <v-divider v-else-if="item.divider" :key="i"></v-divider>
          <!--top-level link-->
          <v-list-tile
            v-else
            :to="item.href ? item.href : null"
            ripple="ripple"
            :disabled="item.disabled"
            :target="item.target"
            rel="noopener"
            :key="item.name"
          >
            <v-list-tile-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action v-if="item.subAction">
              <v-icon class="success--text">{{ item.subAction }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </template>
      </v-list>
    </vue-perfect-scrollbar>
  </v-navigation-drawer>
</template>
<script>
import menu from "@/api/menu";
import menuAdmin from "@/api/menu-admin";
import menuProfesores from "@/api/menu-profesor";
import menuAlumnos from "@/api/menu-alumno";

import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  name: "app-drawer",
  async mounted() {
    if (this.$store.getters.getUsuario != null) {
      var configuracion = this.$store.getters.getConfiguracion;
      if (configuracion != null) {
        if (configuracion.imagen) {
          var backServer = this.$config.baseUrl.slice(0, -4);
          var d = [backServer, configuracion.imagen].join("/");
          this.logoImg = d;
        }
      } else {
        let response = await this.$store.dispatch("getConfiguracion");
        if (response.imagen) {
          var backServer = this.$config.baseUrl.slice(0, -4);
          var d = [backServer, response.imagen].join("/");
          this.logoImg = d;
        }
      }

      var tipoUsuario = this.$store.getters.getUsuario.tipo_usuario.nombre;
      if (tipoUsuario == "ADMINISTRADOR") {
        this.menus = menuAdmin;
      } else if (tipoUsuario == "PROFESOR") {
        this.menus = menuProfesores;
      } else if (tipoUsuario == "ALUMNO") {
        this.menus = menuAlumnos;
      } else {
        this.menus = menu;
      }
    } else {
      console.log("no hay usuario");
    }
  },
  components: {
    VuePerfectScrollbar,
  },
  props: {
    expanded: {
      type: Boolean,
      default: true,
    },
  },
  data: () => ({
    mini: false,
    menus: [],
    scrollSettings: {
      maxScrollbarLength: 160,
    },
    logoImg: require("@/assets/eduqy_logo_transparente_amarillo.png"),
  }),
  computed: {
    drawer: {
      get() {
        return this.$store.state.drawer;
      },
      set(val) {
        this.$store.commit("drawer", val);
      },
    },
    computeGroupActive() {
      return true;
    },
    sideToolbarColor() {
      return this.$vuetify.options.extra.sideNav;
    },
  },
  methods: {
    genChildTarget(item, subItem) {
      console.log(subItem);
      if (subItem.href) return;
      if (subItem.component) {
        return {
          name: subItem.component,
        };
      }
      return { name: `${item.group}/${subItem.name}` };
    },
  },
};
</script>

<style lang="stylus">
#appDrawer {
  overflow: hidden;

  .drawer-menu--scroll {
    height: calc(100vh - 48px);
    overflow: auto;
  }
}

.base-color {
  background-color: var(--primary-color) !important;
}

.mg-auto {
  margin: auto !important;
}
</style>
