<template>
  <v-toolbar color="base-color" fixed dark app>
    <v-toolbar-title class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="toggleDrawer()"></v-toolbar-side-icon>
    </v-toolbar-title>
    <!-- <v-text-field
      flat
      solo-inverted
      prepend-icon="search"
      label="Search"
      class="hidden-sm-and-down"
    >
    </v-text-field> -->
    <v-spacer></v-spacer>
    <v-btn icon @click="handleFullScreen()">
      <v-icon>fullscreen</v-icon>
    </v-btn>
    <!-- <v-menu
      offset-y
      origin="center center"
      class="elelvation-1"
      :nudge-right="140"
      :nudge-bottom="14"
      transition="scale-transition"
    >
      <v-btn icon flat slot="activator">
        <v-badge color="red" overlap>
          <span slot="badge">3</span>
          <v-icon medium>notifications</v-icon>
        </v-badge>
      </v-btn>
      <notification-list></notification-list>
    </v-menu> -->
    <v-menu
      offset-y
      origin="center center"
      :nudge-right="140"
      :nudge-bottom="10"
      transition="scale-transition"
    >
      <b-navbar-nav class="ml-auto" v-if="isLoggedIn">
        <b-nav-item :to="{ name: 'secret' }"></b-nav-item>
        <!--<b-nav-item href="#" right @click="logout">Logout</b-nav-item>-->
      </b-navbar-nav>

      <v-btn icon large flat slot="activator">
        <v-avatar size="30px">
          <img :src="user_img" alt="User Eduqy" />
        </v-avatar>
      </v-btn>
      <v-list class="pa-0">
        <v-list-tile
          v-for="(item, index) in items"
          :to="!item.href ? { name: item.name } : null"
          :href="item.href"
          @click="item.click"
          ripple="ripple"
          :disabled="item.disabled"
          :target="item.target"
          rel="noopener"
          :key="index"
        >
          <v-list-tile-action v-if="item.icon">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>
<script>
import NotificationList from "@/components/widgets/list/NotificationList";
import Util from "@/util";

export default {
  name: "app-toolbar",
  components: {
    NotificationList,
  },
  data: function () {
    return {
      user_img: "",
      default_profile_img: require("@/assets/default-profile-icon.jpg"),
      items: [
        {
          icon: "account_circle",
          href: "#",
          title: "Perfil",
          click: (e) => {
            console.log(e);
          },
        },
        // {
        //   icon: "settings",
        //   href: "#",
        //   title: "Settings",
        //   click: (e) => {
        //     console.log(e);
        //   },
        // },
        {
          icon: "fullscreen_exit",
          href: "/logout",
          title: "Cerrar Sesión",
          click: this.logout,
        },
      ],
    };
  },
  mounted() {
    if (this.$store.getters.getUsuario != null) {
      var tipoUsuario = this.$store.getters.getUsuario.tipo_usuario.nombre;

      if (
        this.$store.getters.getUsuario.imagen == null ||
        this.$store.getters.getUsuario.imagen == ""
      ) {
        this.user_img = this.default_profile_img;
      } else {
        var backServer = this.$config.baseUrl.slice(0, -4);

        var d = [backServer, this.$store.getters.getUsuario.imagen].join("/");
        this.user_img = d;
      }

      if (tipoUsuario == "PROFESOR") {
        this.items[0].href = "/profesor/perfil";
      } else if (tipoUsuario == "ALUMNO") {
        this.items[0].href = "/alumno/perfil";
      } else if (tipoUsuario == "ADMINISTRADOR") {
        this.items[0].href = "/admin/administradores/perfil";
      }
    }
  },
  computed: {
    toolbarColor() {
      return this.$vuetify.options.extra.mainNav;
    },
    isLoggedIn() {
      return this.$store.state.token;
    },
  },
  methods: {
    toggleDrawer() {
      this.$store.commit("toggleDrawer");
    },
    handleFullScreen() {
      Util.toggleFullScreen();
    },
    handleLogout() {
      console.log('handlelougu');
      this.$router.push("/login_plantilla");
    },
    logout() {
      /*this.$axios
        .$post("logout")
        .then((resp) => {
          this.$store.dispatch("logout");
          this.$router.push("/");
        })
        .catch((errors) => {
          console.dir(errors);
        });*/
    },
  },
};
</script>
