<template>
  <div>
    <div>
      <v-layout row class="align-center layout px-4 pt-3 pb-2 app--page-header">
        <div class="page-header-left">
          <h3 class="pr-3">{{ title }}</h3>
        </div>
        <v-breadcrumbs divider="-" :items="breadcrumbs"></v-breadcrumbs>
        <v-spacer></v-spacer>
        <!-- <div class="page-header-right">
      <v-btn icon>
        <v-icon class="text--secondary">refresh</v-icon>
      </v-btn>
    </div> -->
      </v-layout>
    </div>

    <div>
      <v-divider v-if="title"></v-divider>
    </div>
  </div>
</template>

<script>
import menuAdmin from "@/api/menu-admin";
import menuProfesores from "@/api/menu-profesor";
import menuAlumnos from "@/api/menu-alumno";
export default {
  data() {
    return {
      title: "",
      menu: [],
    };
  },
  mounted() {
    if (this.$store.getters.getUsuario != null) {
      var tipoUsuario = this.$store.getters.getUsuario.tipo_usuario.nombre;
      if (tipoUsuario == "ADMINISTRADOR") {
        this.menu = menuAdmin;
      } else if (tipoUsuario == "PROFESOR") {
        this.menu = menuProfesores;
      } else if (tipoUsuario == "ALUMNO") {
        this.menu = menuAlumnos;
      } else {
        this.menu = menu;
      }
    } else {
      console.log("no hay usuario");
    }
  },
  computed: {
    breadcrumbs: function () {
      let breadcrumbs = [];
      this.menu.forEach((item) => {
        if (item.href === this.$route.path) {
          this.title = item.title;
        }
        return;
      });
      return breadcrumbs;
    },
  },
};
</script>
