<template>
  <v-container align-content-center grid-list-xl text-xs-center>
    <v-layout v-if="cursos" align-space-around justify-space-around row wrap>
      <v-flex lg4 sm6 xs12 v-for="(curso, index) in cursos" :key="index">
        <v-card flat tile class="polaroid">
          <nuxt-link
            :to="{
              path: '/alumno/cursos/contenido?idAulaCurso=' + curso.pivot.id,
              query: { nombreCurso: curso.nombre },
            }"
          >
            <v-img
              v-if="curso.imagen"
              class="curso_imagen"
              :src="curso.imagen"
            ></v-img>
            <v-img v-else class="curso_imagen" :src="default_class"> </v-img>
          </nuxt-link>
          <div class="nombreMenu">
            <p>{{ curso.nombre }}</p>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PeriodoTable from "@/components/widgets/list/PeriodoTable";

export default {
  transition: { name: "slide-fade" },

  layout: "dashboard-alumnos",
  components: {
    PeriodoTable,
  },
  data: () => ({
    user: JSON.parse(localStorage.getItem("usuario")),
    alignments: ["start", "center", "end"],
    idAulaCurso: "",
    default_class: require("@/assets/pizarra-clase.jpg"),
  }),
  computed: {
    cursos() {
      return this.$store.getters.getCursosAlumno;
    },
  },
  async mounted() {
    console.log(this.user.id);
    this.$store.dispatch("getCursosFromStudent", this.user.id);

    
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
     if(configuracion!=null){
       bodyStyles.setProperty('--primary-color', configuracion.cPrincipal);
        bodyStyles.setProperty('--secondary-color', configuracion.cSecundario);
     }else{
       let response = await this.$store.dispatch("getConfiguracion");
        bodyStyles.setProperty('--primary-color', response.cPrincipal);
        bodyStyles.setProperty('--secondary-color', response.cSecundario);
     }
  


  },
  created() {},
  methods: {},
};
</script>
<style>
@import "~/assets/main.css";

.nombreMenu {
  color: black;
  font-weight: bold;
  padding: 10px 10px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.curso_imagen {
  /* object-fit: fill; */
  height: 200px;
}

/* img {
  height: 400px;
  width: 100%;
} */
</style>
