<template>
  <v-container align-content-center grid-list-xl text-xs-center>
    <v-layout align-space-around justify-space-around row wrap>
      <v-dialog v-model="enableDialog" persistent max-width="400px" scrollable>
        <PasswordForm
          :usuarioId="this.$store.getters.getUsuario.id"
          @finalizarCambio="cambioContrasenha"
        />
      </v-dialog>

      <v-flex v-for="i in 5" :key="`${i}`" lg4>
        <v-card flat tile class="polaroid">
          <nuxt-link :to="menus[i - 1].href">
            <v-img
              :src="menus[i - 1].img"
              min-width="100px"
              class="curso_imagen"
            ></v-img>
          </nuxt-link>
          <div class="nombreMenu">
            <p>{{ menus[i - 1].nombre }}</p>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: "dashboard-admin",
  async mounted() {
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
    if (configuracion != null) {
      bodyStyles.setProperty("--primary-color", configuracion.cPrincipal);
      bodyStyles.setProperty("--secondary-color", configuracion.cSecundario);
    } else {
      let response = await this.$store.dispatch("getConfiguracion");
      bodyStyles.setProperty("--primary-color", response.cPrincipal);
      bodyStyles.setProperty("--secondary-color", response.cSecundario);
    }
  },

  data: () => ({
    menus: [
      {
        nombre: "Períodos Educativos",
        img: require("@/assets/admin/admin-periodos.jpg"),
        href: "/admin/periodo",
      },
      {
        nombre: "Alumnos",
        img: require("@/assets/admin/admin-alumnos.jpg"),
        href: "/admin/alumnos/lista",
      },
      {
        nombre: "Profesores",
        img: require("@/assets/admin/admin-profesores.jpg"),
        href: "/admin/profesores/lista",
      },
      {
        nombre: "Áreas, Cursos y Competencias",
        img: require("@/assets/admin/admin-cursos.jpg"),
        href: "/admin/areas/area",
      },
      {
        nombre: "Aulas",
        img: require("@/assets/admin/admin-aulas.jpg"),
        href: "/admin/aulas/lista",
      },
    ],
  }),

  methods: {
    cambioContrasenha() {
      var userlcl = JSON.parse(localStorage.getItem("usuario"));
      userlcl.firstLogin = true;
      localStorage.usuario = JSON.stringify(userlcl);
      this.$store.dispatch("setUsuario", userlcl);
      //this.$router.push("/profesor/midia");
    },
  },

  computed: {
    enableDialog: function () {
      var user = this.$store.getters.getUsuario;
      console.log("hice first login?" + user.firstLogin);
      return !this.$store.getters.getUsuario.firstLogin;
    },
  },

  head() {
    // Set Meta Tags for this Page
  },
  // ...
};
</script>

<style>
@import "~/assets/main.css";

.nombreMenu {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.curso_imagen {
  /* object-fit: fill; */
  height: 200px;
}
</style>