<template>
  <v-container align-content-center grid-list-xl text-xs-center>
    <v-layout align-space-around justify-space-around row wrap>
      <v-dialog v-model="enableDialog" persistent max-width="400px" scrollable>
        <PasswordForm
          :usuarioId="this.$store.getters.getUsuario.id"
          @finalizarCambio="cambioContrasenha"
        />
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: "dashboard-alumnos",

  data: () => ({}),

  head() {
    // Set Meta Tags for this Page
  },
  methods: {
    cambioContrasenha() {
      var userlcl = JSON.parse(localStorage.getItem("usuario"));
      userlcl.firstLogin = true;
      localStorage.usuario = JSON.stringify(userlcl);
      this.$store.dispatch("setUsuario", userlcl);
      this.$router.push("/alumno/midia");
    },
  },
  async mounted() {

    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
     if(configuracion!=null){
       bodyStyles.setProperty('--primary-color', configuracion.cPrincipal);
        bodyStyles.setProperty('--secondary-color', configuracion.cSecundario);
     }else{
       let response = await this.$store.dispatch("getConfiguracion");
        bodyStyles.setProperty('--primary-color', response.cPrincipal);
        bodyStyles.setProperty('--secondary-color', response.cSecundario);
     }
 

    if (this.$store.getters.getUsuario.firstLogin) {
      this.$router.push("/alumno/midia");
    }
  },
  computed: {
    enableDialog: function () {
      var user = this.$store.getters.getUsuario;
      console.log("hice first login?" + user.firstLogin);
      return !this.$store.getters.getUsuario.firstLogin;
    },
  },
  // ...
};
</script>

<style>
.nombreMenu {
  color: black;
  font-weight: bold;
}
</style>