<template></template>

<style>
  :root{
    --primary-color: rgb(228, 74, 27)!important;
    --secondary-color: rgb(228, 74, 27)!important;
  }


</style>

<script>
export default {
  computed:{
    isLoggedIn(){
      if (!this.$store.state.token)
        this.$router.push("/login");
    }
  },
    middleware: ['auth'],
  async mounted() {
    let bodyStyles = document.body.style;

    
    let response = await this.$store.dispatch("getConfiguracion");
    bodyStyles.setProperty('--primary-color', response.cPrincipal);
    bodyStyles.setProperty('--secondary-color', response.cSecundario);
     

    

    var tipoUsuario = this.$store.getters.getUsuario.tipo_usuario.nombre;
    if (tipoUsuario == "ADMINISTRADOR"){
      this.$router.push("/home_admin");
    }else if (tipoUsuario == "PROFESOR"){
      this.$router.push("/home_profesores");
    }else if (tipoUsuario == "ALUMNO"){
       this.$router.push("/home_alumnos");
    }else{
      console.log("Rol de usuario no existe");
      this.$router.push("/login");
    }


    
    
  },
};
</script>

<
