<template>
  <v-app id="login_student" class="neutral">
    <v-content>
      <img class="bgImage" :src="loginImageBg" />
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3 card-login border-ct">
              <v-card-text>
                <div class="layout column align-center">
                  <img
                    :src="logoImg"
                    width="100%"
                    alt="Vue Material Admin Template"
                  />
                </div>
                <v-form>
                  <v-text-field
                    label="DNI"
                    type="text"
                    mask="########"
                    v-model="model.username"
                    v-on:keyup.enter="onEnter"
                    :rules="[rulesField.required]"
                    ref="dni"
                  ></v-text-field>
                  <v-text-field
                    ref="password"
                    :append-icon="
                      showPassword ? 'visibility' : 'visibility_off'
                    "
                    :type="showPassword ? 'text' : 'password'"
                    :rules="[rulesField.required, rulesField.length]"
                    label="Contraseña"
                    v-model="model.password"
                    v-on:keyup.enter="onEnter"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <p>{{ errorMessage }}</p>
              <v-card-actions>
                <v-btn
                  v-on:keyup.enter="onEnter"
                  class="paideia-button"
                  @click="login"
                  :loading="loading"
                  >Ingresar</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
//let URL = this.$config.baseUrl;
export default {
  $_veeValidate: {
    validator: "new",
  },
  layout: "default",
  data: () => ({
    loginImageBg: require("@/assets/login_background.webp"),
    errorMessage: "",
    loading: false,
    model: {
      username: "",
      password: "",
    },
    logoImg: require("@/assets/eduqy_logo_transparente.png"),
    showPassword: false,
    rulesField: {
      required: (value) => !!value || "Este campo es obligatorio.",
      length: (value) => value.length <= 30 || "Máximo 30 caracteres.",
      //emailMatch: () => "The email and password you entered don't match",
    },
  }),

  async mounted() {
    let response = await this.$store.dispatch("getConfiguracion");
    if (response.imagen_login) {
      var backServer = this.$config.baseUrl.slice(0, -4);
      var d = [backServer, response.imagen_login].join("/");
      this.logoImg = d;
    }
  },

  methods: {
    async login() {
      let dniInput = this.$refs.dni;
      let passInput = this.$refs.password;
      if (dniInput && passInput) {
        if (!dniInput.valid || !passInput.valid) return;
      }

      /*if (!this.model.username || !this.model.password) {
        this.errorMessage = "Se requiere DNI y contraseña.";
        return;
      }*/

      let response = await this.$store.dispatch("login", {
        dni: this.model.username,
        password: this.model.password,
      });

      if (response) {
        if (response.status) {
          console.log(response.body);
          this.$store.dispatch("setUsuario", response.body);
          var token = response.token;
          var expiresIn = response.expiresIn;
          this.$store.dispatch("setToken", { token, expiresIn });
          this.storeData(token, response.body);
          this.$router.push({ name: "index" });
        } else {
          //this.errorMessage = response.message;

          this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
        }
      }
      /*this.$axios
        .$post(`${URL}/login`, {
          dni: this.model.username,
          password: this.model.password,
        })
        .then((response) => {
          if (response.status) {
            console.log(response.body);
            this.$store.dispatch("setUsuario", response.body);
            var token = response.token;
            var expiresIn = response.expiresIn;
            this.$store.dispatch("setToken", { token, expiresIn });
            this.storeData(token, response.body);
            this.$router.push({ name: "index" });
          } else {
            //this.errorMessage = response.message;

            this.$toast.error(response.message, {
              position: "top-center",
              duration: 3000,
            });
          }
          //this.$store.dispatch('setToken', {token, expiresIn});
          //
        })
        .catch((errors) => {});*/
    },
    storeData(token, usuario) {
      if (process.browser) {
        localStorage.setItem("usuario", JSON.stringify(usuario));
        var user = localStorage.getItem("usuario");
        if (this.$store.getters.getUsuario == null) {
          console.log("no hay usuario");
        } else {
          console.log("hay usuario");
        }
      }
    },

    onEnter() {
      console.log("se intentara login");
      this.login();
    },
  },
};
</script>
<style scoped lang="css">
#login_student {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.card-login {
  padding: 40px !important;
  border-radius: 10%;
}

.neutral {
  overflow: hidden;
}

.neutral .bgImage {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  min-width: 100%;
  height: 100%;
}

.paideia-button {
  color: white;
  background-color: #0b71cb !important;
  margin: 0px auto !important;
}

.paideia-title {
  font-weight: bold;
  color: #0b71cb;
}
</style>