<template>
  <v-app id="login_student" class="neutral"> </v-app>
</template>

<script>
export default {
  layout: "default",
  data: () => ({}),
  created() {
    let response = this.$store
        .dispatch("logoutPost");
    if(response){
      this.$store.dispatch('logout'); 
    }
    //localStorage.clear();
    this.$router.push("/login");
  },
  methods: {},
};
</script>
<style scoped lang="css">
</style>
