<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <h4>Lista de administradores registrados</h4>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <v-btn color="base-secondary" @click="pickFile">
        <v-icon>import_export</v-icon>Importar
        <input
          type="file"
          style="display: none"
          ref="fileImport"
          accept=".csv"
          @change="importDataFile"
        />
      </v-btn> -->

      <v-btn dark color="base-secondary" @click="cargarFormRegistro()">Registrar</v-btn>
    </v-toolbar>
    <Import
      @registrarValores="registrarApi"
      ref="importComponent"
      :method="axios_method"
      :exitMethod="axios_exit_method"
    />

    <v-toolbar card color="transparent">
      <v-text-field
        flat
        solo
        prepend-icon="search"
        placeholder="Buscar"
        v-model="busquedaModel"
        hide-details
        @input="filterSearch"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-flex xs3>
        <v-select
          :items="estados"
          label="Estado"
          item-text="valor"
          item-value="valor"
          class="input-group--focused"
          @change="filterEstado"
        ></v-select>
      </v-flex>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="administradores"
          :search="filters"
          :custom-filter="customFilter"
          :rows-per-page-items="[10, 25, 50, { text: 'Todos', value: -1 }]"
          rows-per-page-text="Filas por página"
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.index + 1 }}</td>
            <td>
              {{
                props.item.nombre +
                " " +
                props.item.apellido_paterno +
                " " +
                props.item.apellido_materno
              }}
            </td>
            <td class="text-xs-left">
              <v-chip
                v-if="props.item.estado.valor == 'ACTIVO'"
                color="green"
                text-color="white"
                >{{ props.item.estado.valor }}</v-chip
              >
              <v-chip v-else color="red" text-color="white">{{
                props.item.estado.valor
              }}</v-chip>
            </td>
            <td class="text-xs-left">{{ props.item.dni }}</td>
            <td class="text-xs-left">{{ props.item.telefono }}</td>
            <td class="text-xs-left">{{ props.item.correo }}</td>
            <td class="text-xs-center">
              <v-btn flat icon color="grey">
                <v-icon @click="observar(props.item.id)">remove_red_eye</v-icon>
              </v-btn>
              <v-btn flat icon color="grey">
                <v-icon @click="editar(props.item.id)">edit</v-icon>
              </v-btn>
            </td>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="warning">
              Tu búsqueda no generó resultados.
            </v-alert>
          </template>

          <template v-slot:no-data>
            <v-alert :value="true" color="info" icon="warning">
              No existen administradores registrados.
            </v-alert>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import VWidget from "@/components/VWidget";
import { EstadoProfesor } from "@/api/estado";
import Swal from "sweetalert2";
export default {
  components: {
    VWidget,
  },
  mounted() {
    this.$store.dispatch("getAdministradores");
  },
  data: () => ({
    axios_method: "addAdmin",
    axios_exit_method: "getAdministradores",
    importProcess: 0,
    importHeaders: [
      {
        text: "#",
        align: "left",
        sortable: false,
        value: "id",
      },
    ],
    importData: [],
    dialogimport: false,
    pagina: 1,
    busquedaModel: "",
    filters: {
      busquedaModel: "",
      estadoModel: "",
    },
    periodoModel: "",
    periodos: [],
    headers: [
      {
        text: "#",
        align: "left",
        sortable: false,
        value: "id",
      },
      {
        text: "Administrador",
        align: "left",
        value: "nombre",
      },
      { text: "Estado", value: "estado" },
      { text: "DNI", value: "dni" },
      { text: "Telefono", value: "telefono" },
      { text: "Correo", value: "correo_ap", align: "left" },
      { text: "Opciones", value: "action", align: "center", sortable: false },
    ],
  }),
  computed: {
    administradores() {
      return this.$store.getters.getAdministradores;
    },
    estados() {
      return EstadoProfesor;
    },
  },
  methods: {
    cargarFormRegistro() {
      this.$router.push("/admin/administradores/registrar");
    },
    observar(id) {
      this.$router.push(`/admin/administradores/ver/${id}`);
    },
    editar(id) {
      this.$router.push(`/admin/administradores/editar/${id}`);
    },
    async eliminar(id) {
      Swal.fire({
        title: "¿Desea eliminar este usuario?",
        showDenyButton: true,
        confirmButtonText: `Si`,
        denyButtonText: `No`,
      }).then(async (result) => {
        if (result.isConfirmed) {
          let response = await this.$store.dispatch("eliminarAdmin", id);
          this.showMessage(response);
        }
      });
    },
    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },
    pickFile() {
      this.$refs.fileImport.click();
    },
    importDataFile(e) {
      console.log("importDataFile", e);
      this.$refs.importComponent.onFilePicked(e);
    },
    registrarApi(formModelProfesor) {
      let profesor = {};
      for (let obj in formModelProfesor) {
        if (obj.toString() != "estado")
          Object.defineProperty(profesor, obj.toString(), {
            value: formModelProfesor[obj.toString()],
            enumerable: true,
          });
        else {
          if (
            formModelProfesor[obj.toString()] != "" &&
            formModelProfesor[obj.toString()] != null
          ) {
            let estado = EstadoProfesor.find(
              (element) => element.valor == formModelProfesor[obj.toString()]
            );
            if (estado != null)
              Object.defineProperty(profesor, "estado_id", {
                value: estado.id,
                enumerable: true,
              });
          }
        }
      }
      this.$refs.importComponent.storedApi(profesor, formModelProfesor);
    },
    /* End Import Component*/
    customFilter(items, filters, filter, headers) {
      const cf = new this.$MultiFilters(items, filters, filter, headers);
      /**Un metodo filter por cada tipo de busqueda */

      cf.registerFilter("busquedaModel", function (busquedaModel, items) {
        if (!busquedaModel || busquedaModel.trim() === "") return items;
        return items.filter((item) => {
          return item.nombre
            .concat(
              " ",
              item.apellido_paterno,
              " ",
              item.apellido_materno,
              " ",
              item.dni,
              " ",
              item.correo
            )
            .toLowerCase()
            .includes(busquedaModel.toLowerCase());
        }, busquedaModel);
      });

      cf.registerFilter("estadoModel", function (estadoModel, items) {
        if (estadoModel.trim() === "" || estadoModel.trim() === "TODOS")
          return items;
        return items.filter((item) => {
          return item.estado.valor.toLowerCase() === estadoModel.toLowerCase();
        }, estadoModel);
      });
      return cf.runFilters();
    },
    filterSearch(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        busquedaModel: val,
      });
    },
    filterEstado(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        estadoModel: val,
      });
    },
  },
};
</script>

<style>
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
