<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <h4>Lista de alumnos registrados</h4>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn class="base-secondary" dark @click="pickFile">
        <v-icon>import_export</v-icon>Importar
        <input
          type="file"
          style="display: none"
          ref="fileImport"
          accept=".csv"
          @change="importDataFile"
        />
      </v-btn>

      <v-btn class="base-secondary" dark @click="registrarRoute()"
        >Registrar</v-btn
      >
    </v-toolbar>
    <ImportGeneric
      @registrarValores="registrarApi"
      ref="importComponent"
      :method="axios_method"
      :exitMethod="axios_exit_method"
    />
    <v-toolbar card color="transparent">
      <v-text-field
        flat
        solo
        prepend-icon="search"
        placeholder="Buscar"
        v-model="busquedaModel"
        @input="filterSearch"
        hide-details
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-flex xs3>
        <v-select
          :items="estados"
          v-model="estadoModel"
          label="Estado"
          item-text="valor"
          item-value="valor"
          class="input-group--focused"
          @change="filterEstado"
        ></v-select>
      </v-flex>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="alumnos"
          :search="filters"
          :custom-filter="customFilter"
          :rows-per-page-items="[10, 25, 50, { text: 'Todos', value: -1 }]"
          rows-per-page-text="Filas por página"
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.index + 1 }}</td>
            <td>
              {{
                props.item.nombre +
                " " +
                props.item.apellido_paterno +
                " " +
                props.item.apellido_materno
              }}
            </td>
            <td class="text-xs-left">
              <v-chip
                v-if="props.item.estado.valor == 'MATRICULADO'"
                color="green"
                text-color="white"
                >{{ props.item.estado.valor }}</v-chip
              >
              <v-chip
                v-else-if="props.item.estado.valor == 'NUEVO'"
                color="blue"
                text-color="white"
                >{{ props.item.estado.valor }}</v-chip
              >
              <v-chip v-else color="red" text-color="white">{{
                props.item.estado.valor
              }}</v-chip>
            </td>
            <td class="text-xs-left">{{ props.item.dni }}</td>
            <td class="text-xs-left">{{ props.item.apoderado.telefono }}</td>
            <td class="text-xs-left">{{ props.item.correo }}</td>
            <td class="text-xs-center">
              <v-btn flat icon color="grey">
                <v-icon @click="observar(props.item.id)">remove_red_eye</v-icon>
              </v-btn>
              <v-btn flat icon color="grey">
                <v-icon @click="editar(props.item.id)">edit</v-icon>
              </v-btn>
              <v-btn flat icon color="grey">
                <v-icon @click="eliminar(props.item.id)">delete</v-icon>
              </v-btn>
            </td>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="warning">
              Tu búsqueda no generó resultados.
            </v-alert>
          </template>

          <template v-slot:no-data>
            <v-alert :value="true" color="info" icon="warning">
              No existen alumnos registrados.
            </v-alert>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import VWidget from "@/components/VWidget";
import { EstadoAlumno } from "@/api/estado";
import { EstadoNuevoAlumno } from "@/api/estado";

export default {
  components: {
    VWidget,
  },
  data() {
    return {
      axios_method: "addAlumno",
      axios_exit_method: "getAlumnos",

      importProcess: 0,
      importHeaders: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
      ],
      importData: [],
      dialogimport: false,
      pagina: 1,
      items: [],
      paginas: 1,
      subset: [],
      search: "",
      registros: 10,
      tamanho: 0,
      estadoModel: "",
      periodoModel: "",
      periodos: [],
      busquedaModel: "",
      filters: {
        busquedaModel: "",
        estadoModel: "",
      },
      headers: [
        {
          text: "#",
          align: "left",
          sortable: true,
          value: "id",
        },
        {
          text: "Alumno",
          align: "left",
          value: "nombre",
        },
        { text: "Estado", value: "estado", align: "left" },
        { text: "DNI", value: "dni" },
        { text: "Teléfono", value: "telefono" },
        { text: "Correo Alumno", value: "correo", align: "left" },
        { text: "Opciones", value: "action", align: "center", sortable: false },
      ],
    };
  },
  computed: {
    alumnos() {
      this.items = this.$store.getters.getAlumnos;
      this.tamanho = this.items;
      return this.items;
    },
    estados() {
      return EstadoAlumno;
    },
  },
  methods: {
    registrarRoute() {
      this.$router.push("/admin/alumnos/registrar");
    },
    observar(id) {
      this.$router.push(`/admin/alumnos/ver/${id}`);
    },
    editar(id) {
      this.$router.push(`/admin/alumnos/editar/${id}`);
    },
    async eliminar(id) {
      let response = await this.$store.dispatch("eliminarAlumno", id);
      this.showMessage(response.message);
    },
    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },
    pickFile() {
      this.$refs.fileImport.click();
    },
    importDataFile(e) {
      console.log("importDataFile", e);
      console.log(this.$refs);
      this.$refs.importComponent.onFilePicked(e);
    },
    /*Outer Api*/
    registrarApi(formModeloAlumno) {
      let alumno = {};
      let apoderado = {};
      const init_string = "apoderado_";
      for (let obj in formModeloAlumno) {
        if (obj.toString().startsWith(init_string)) {
          Object.defineProperty(
            apoderado,
            obj.toString().replace(init_string, ""),
            {
              value: formModeloAlumno[obj.toString()],
              enumerable: true,
            }
          );
        } else {
          Object.defineProperty(alumno, obj.toString(), {
            value: formModeloAlumno[obj.toString()],
            enumerable: true,
          }); //
        }
      }

      Object.defineProperty(alumno, "estado_id", {
        value: EstadoNuevoAlumno.id,
        enumerable: true,
      });

      Object.defineProperty(alumno, "apoderado", {
        value: apoderado,
        enumerable: true,
      });
      Object.defineProperty(alumno, "tipo_usuario_id", {
        value: 1,
        enumerable: true,
      });

      /*Emit the state of the register*/
      this.$refs.importComponent.storedApi(alumno, formModeloAlumno);
    },

    concatenado(val1, val2, val3) {
      return val1.concat(" ", val2, " ", val3);
    },
    customFilter(items, filters, filter, headers) {
      const cf = new this.$MultiFilters(items, filters, filter, headers);
      cf.registerFilter("busquedaModel", function (busquedaModel, items) {
        if (!busquedaModel || busquedaModel.trim() === "") return items;
        return items.filter((item) => {
          return item.nombre
            .concat(
              " ",
              item.apellido_paterno,
              " ",
              item.apellido_materno,
              " ",
              item.dni,
              " ",
              item.apoderado.correo
            )
            .toLowerCase()
            .includes(busquedaModel.toLowerCase());
        }, busquedaModel);
      });

      cf.registerFilter("estadoModel", function (estadoModel, items) {
        // If the filter has not been applied yet
        // just return all available items.
        if (
          !estadoModel ||
          estadoModel.trim() === "TODOS" ||
          estadoModel.trim() === ""
        )
          return items;
        // Compare each item estadoModel and just return the matching ones.
        return items.filter((item) => {
          return item.estado.valor.toLowerCase() === estadoModel.toLowerCase();
        }, estadoModel);
      });
      return cf.runFilters();
    },
    filterSearch(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        busquedaModel: val,
      });
    },
    filterEstado(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        estadoModel: val,
      });
    },
  },
  mounted() {
    this.$store.dispatch("getAlumnos");
  },
};
</script>

<style>
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
