<template>
  <v-dialog v-model="enableDialog" max-width="800px" scrollable>
    <v-card style="height: 100%">
      <v-tabs v-model="tab" align-with-title>
        <v-tabs-slider color="black"></v-tabs-slider>

        <v-tab v-for="item in items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item v-for="item in items" :key="item">
          <v-toolbar card color="transparent">
            <v-flex cols="12" sm="6" md="6">
              <v-text-field
                prepend-icon="search"
                placeholder="Buscar"
                 v-model="busquedaModel"
                @input="filterSearch"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
            </v-flex>
            <v-flex xs3> </v-flex>
          </v-toolbar>
          <v-card flat>
            <v-data-table
              :headers="headers"
              :items="alumnos"
              :search="filters"
              :custom-filter="customFilter"
              :rows-per-page-items="[5, 10, 20, { text: 'Todos', value: -1 }]"
              rows-per-page-text="Filas por página"
              class="elevation-0"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.index + 1 }}</td>
                <td class="text-xs-center">
                  <v-checkbox
                    v-model="props.item.selected"
                    hide-details
                    class="align-center justify-center"
                  ></v-checkbox>
                </td>
                <td>
                  {{
                    props.item.nombre +
                    " " +
                    props.item.apellido_paterno +
                    " " +
                    props.item.apellido_materno
                  }}
                </td>
                <td class="text-xs-left">{{ props.item.dni }}</td>
                <td class="text-xs-left">
                  {{ FormatDate(props.item.fecha_nacimiento) }}
                </td>
              </template>
              <template v-slot:no-results>
                <v-alert :value="true" color="error" icon="warning">
                  Tu búsqueda no generó resultados.
                </v-alert>
              </template>

              <template v-slot:no-data>
                <v-alert :value="true" color="info" icon="warning">
                  No existen alumnos registrados.
                </v-alert>
              </template>
            </v-data-table>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          v-if="finImport === false"
          color="blue darken-1"
          flat
          @click.native="confirmar"
          >Confirmar</v-btn
        >
        <v-btn
          v-if="finImport === false"
          color="blue darken-1"
          flat
          @click.native="cancelar"
          >Cancelar</v-btn
        >
        <v-btn v-else color="blue darken-1" flat @click.native="cancelar"
          >Salir</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "AlumnosDialog",
  data() {
    return {
      enableDialog: false,
      singleSelect: true,
      tab: null,
      items: ["Alumnos Nuevos", "Alumnos Antiguos"],
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
        {
          text: "",
          align: "left",
          sortable: false,
          value: "selected",
        },
        {
          text: "Alumno",
          align: "left",
          value: "nombre",
        },
        { text: "DNI", value: "dni" },
        { text: "Fecha Nac.", value: "fecha_nacimiento", align: "left" },
      ],
      alumnos: [],
      selected: [],
      checked: [],
      busquedaModel: "",
      filters: {
        busquedaModel: "",
      },
      finImport: false,
    };
  },
  computed: {
    alumnosNuevos() {},
  },
  methods: {
    FormatDate(date) {
      var d = new Date(date),
        dformat = [
          (d.getDate() > 9 ? "" : "0").concat(d.getDate()),
          (d.getMonth() + 1 > 9 ? "" : "0").concat(d.getMonth() + 1),
          d.getFullYear(),
        ].join("/");
      return dformat;
    },
    confirmar() {
      let selected = [];
      this.finImport = true;
      if (this.alumnos.length > 0)
        selected = this.alumnos.filter((element) => {
          return element.selected == true;
        });
      console.log(selected);
      this.$emit("guardarAlumnos", selected);
    },
    cancelar() {
      this.enableDialog = false;
    },
    enable(value) {
      this.enableDialog = value;
    },
    customFilter(items, filters, filter, headers) {
      const cf = new this.$MultiFilters(items, filters, filter, headers);
      cf.registerFilter("busquedaModel", function (busquedaModel, items) {
        if (!busquedaModel || busquedaModel.trim() === "") return items;
        console.log(items);
        return items.filter((item) => {
          return item.nombre
            .concat(
              " ",
              item.apellido_paterno,
              " ",
              item.apellido_materno,
              " ",
              item.dni
            )
            .toLowerCase()
            .includes(busquedaModel.toLowerCase());
        }, busquedaModel);
      });
      return cf.runFilters();
    },
    filterSearch(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        busquedaModel: val,
      });
    },
  },
  created() {
    let t = this;
    this.$store.dispatch("getAlumnosNuevos").then((response) => {
      if (response.status) {
        t.alumnos = response.body;
        console.log(t.alumnos);
      }
    });
  },
};
</script>

<style>
</style>