<template>
  <div>
    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>Lista de áreas</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <div>
            <!-- btn1  -->

            <!-- btn2 -->
            <v-dialog v-model="dialogNuevo" max-width="500px">
              <v-btn color="base-secondary" dark slot="activator"
                >Registrar área</v-btn
              >
              <v-card>
                <v-form ref="form" v-model="valid">
                  <v-card-title>
                    <span class="headline">Nombre de nueva Área</span>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            v-model="newArea"
                            label="Area"
                            hint="Comunicación, Idiomas, etc"
                            required
                            :rules="textRule"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="agregarArea"
                      >Agregar</v-btn
                    >
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="dialogNuevo = false"
                      >Cancelar</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>

            <!-- Modal Editar -->
            <v-dialog v-model="dialogEditar" max-width="500px">
              <v-card>
                <v-form ref="form" v-model="valid">
                  <v-card-title>
                    <span class="headline">Editar área</span>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            class="none"
                            v-model="txtIdEditArea"
                          ></v-text-field>
                          <v-text-field
                            v-model="txtEditArea"
                            label="Area"
                            hint="Comunicación, Idiomas, etc"
                            required
                            :rules="textRule"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="editarArea"
                      >Aceptar</v-btn
                    >
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="dialogEditar = false"
                      >Cancelar</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </div>
        </div>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <v-data-table :headers="headers" :items="areas" hide-actions>
            <template slot="items" slot-scope="props">
              <td>{{ props.index + 1 }}</td>
              <td class="text-xs-left">
                <v-btn
                  color="blue darken-1"
                  flat
                  @click.native="detalleArea(props.item.id, props.item.nombre)"
                  >{{ props.item.nombre }}</v-btn
                >
              </td>
              <td class="text-lg-left">
                <v-btn flat icon color="grey">
                  <v-icon
                    @click.stop="dialogEditar = true"
                    @click="fillEditar(props.item.id, props.item.nombre)"
                    >edit</v-icon
                  >
                </v-btn>
                <v-btn flat icon color="grey">
                  <v-icon @click="eliminar(props.item.id)">delete</v-icon>
                </v-btn>
              </td>
            </template>
            <template v-slot:no-data>
              <v-alert :value="true" color="info" icon="warning">
                No existen áreas registradas.
              </v-alert>
            </template>
          </v-data-table>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
//import items from "@/api/periodo";
import VWidget from "@/components/VWidget";
import Swal from "sweetalert2";
export default {
  components: {
    VWidget,
  },
  mounted() {
    this.$store.dispatch("getAreas");
  },
  data() {
    return {
      textRule: [(v) => !!v || "Campo Obligatorio"],
      firstname: "",
      valid: false,
      menu: false,
      newArea: "",
      txtEditArea: "",
      txtIdEditArea: "",
      dialogNuevo: false,
      dialogEditar: false,
      dialogCambiar: false,
      scrollable: {
        name: "",
        dialog: false,
      },
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
        { text: "Área", value: "area", sortable: false },
        { text: "Opciones", value: "action", align: "center", sortable: false },
      ],
      colors: {
        true: "green",
        false: "red",
      },
    };
  },
  computed: {
    areas() {
      console.log(this.$store.getters.getAreas);
      return this.$store.getters.getAreas;
    },
  },

  methods: {
    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },
    async agregarArea() {
      //if (this.$refs.form.validate()) {
      this.dialogNuevo = false;
      let response = await this.$store.dispatch("addArea", {
        nombre: this.newArea,
      });
      this.showMessage(response);
      //}
    },
    async editarArea() {
      this.dialogEditar = false;
      let response = await this.$store.dispatch("editArea", {
        id: this.txtIdEditArea,
        nombre: this.txtEditArea,
        estado: 1,
      });
      this.showMessage(response);
    },
    fillEditar(id, nombre) {
      this.txtEditArea = nombre;
      this.txtIdEditArea = id;
    },
    async eliminar(id) {
      Swal.fire({
        title: "¿Seguro que desea continuar?",
        showDenyButton: true,
        confirmButtonText: `Si`,
        denyButtonText: `No`,
      }).then(async (result) => {
        if (result.isConfirmed) {
          let response = await this.$store.dispatch("editArea", {
            id: id,
            estado: "0",
          });
          this.showMessage(response);
        }
      });
    },
    detalleArea(id, nombre) {
      this.$router.push({
        path: `/admin/areas/detalle_area?idArea=${id}`,
        query: {
          nombreArea: nombre,
        },
      });
    },
  },
};
</script>

<style>
.none {
  display: none;
}
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
