<template>
  <div>
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12 sm12 xs12>
          <v-card>
            <v-toolbar card dense height="120px" color="transparent">
              <!-- <v-toolbar-title>
                <h4>Aulas registradas</h4>
              </v-toolbar-title> -->

              <v-flex xs6 sm3>
                <v-select
                  :items="periodos"
                  v-model="periodoModel"
                  small
                  label="Periodo"
                  item-text="nombre"
                  item-value="id"
                  class="input-group--focused"
                  @change="filterPeriodo"
                ></v-select>

                <v-select
                  :items="niveles"
                  v-model="nivelModel"
                  small
                  label="Nivel"
                  item-text="nombre"
                  item-value="id"
                  class="input-group--focused"
                  @change="filterNivel"
                ></v-select>
              </v-flex>
              <v-text-field
                flat
                solos
                placeholder="Buscar por grado o sección"
                @input="filterSearch"
                hide-details
                class="hidden-sm-and-down"
              >
                <v-tooltip slot="append" bottom>
                  <v-icon slot="activator" color="base-secondary" dark
                    >search</v-icon
                  >
                  <span>Buscar</span>
                </v-tooltip>
              </v-text-field>
              <div>
                <div>
                  <!-- btn1  -->
                  <v-btn
                    color="primary"
                    slot="activator"
                    @click="pickFile"
                    :loading="importObj.loadingImport"
                  >
                    <v-icon>import_export</v-icon>Importar aulas<input
                      type="file"
                      style="display: none"
                      ref="fileImport"
                      accept=".csv"
                      @change="importDataFile"
                  /></v-btn>

                  <!-- btn2 -->
                  <v-btn
                    color="base-secondary"
                    @click="registrar"
                    dark
                    slot="activator"
                    >Agregar nuevo</v-btn
                  >
                </div>
              </div>
            </v-toolbar>
            <ImportAulas ref="importComponent" />
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <template>
                <v-data-table
                  :headers="headers"
                  :items="aulas"
                  :search="filters"
                  :custom-filter="customFilter"
                  :rows-per-page-items="[
                    10,
                    25,
                    50,
                    { text: 'Todos', value: -1 },
                  ]"
                  rows-per-page-text="Filas por página"
                  class="elevation-0"
                >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">{{ props.item.nivel.nombre }}</td>
                    <td class="text-xs-left">{{ props.item.grado.valor }}</td>
                    <td class="text-xs-left">{{ props.item.seccion }}</td>
                    <td class="text-xs-left">
                      {{ props.item.alumnos.length }}
                    </td>
                    <td class="text-xs-left">{{ props.item.cursos.length }}</td>
                    <td class="text-xs-center">
                      <v-btn
                        color="blue-grey"
                        class="white--text"
                        style="width: 32px; height: 46px"
                        small
                        @click="editarAula(props.item.id)"
                      >
                        <span style="white-space: normal"> Editar aula </span>
                      </v-btn>
                      <v-btn
                        color="blue-grey"
                        disabled
                        class="white--text"
                        style="width: 32px; height: 46px"
                        small
                        @click="verConsolidado"
                      >
                        <span style="white-space: normal">
                          Consolidado de Notas
                        </span>
                      </v-btn>
                      <v-btn
                        color="blue-grey"
                        class="white--text"
                        style="width: 20%; height: 46px"
                        small
                        @click="eliminar(props.item.id)"
                      >
                        <v-icon>delete</v-icon>
                      </v-btn>
                    </td>
                  </template>
                  <template v-slot:no-results>
                    <v-alert :value="true" color="error" icon="warning">
                      Tu búsqueda no generó resultados.
                    </v-alert>
                  </template>

                  <template v-slot:no-data>
                    <v-alert :value="true" color="info" icon="warning">
                      No existen aulas registradas.
                    </v-alert>
                  </template>
                </v-data-table>
              </template>
              <v-divider></v-divider>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Swal from "sweetalert2";
export default {
  layout: "dashboard",
  data() {
    return {
      items: [],
      tamanho: 0,
      niveles: [],
      periodos: [],
      nivelModel: "",
      periodoModel: "",
      grados: [1, 2, 3, 4, 5, 6],
      items: [
        { id: 0, nivel: 1, grado: 1, seccion: "A", alumnos: 11, cursos: 7 },
      ],
      headers: [
        { text: "Nivel", value: "nivel.nombre", align: "left" },
        { text: "Grado", value: "grado.valor", align: "left" },
        { text: "Seccion", value: "seccion", align: "left" },
        { text: "Alumnos", value: "alumnos", align: "left" },
        { text: "Cursos", value: "cursos", align: "left" },
        { text: "Opciones", value: "none", align: "center", sortable: false },
      ],
      filters: {
        busquedaModel: "",
        nivelModel: "",
        periodoModel: "",
      },
      importObj: {
        loadingImport: false,
      },
    };
  },
  computed: {
    aulas() {
      this.items = this.$store.getters.getAulas;
      this.tamanho = this.items;
      console.log(this.items);
      return this.items;
    },
  },
  methods: {
    registrar() {
      this.$router.push("/admin/aulas/registrar");
    },
    verConsolidado() {},
    editarAula(id) {
      console.log(id);
      this.$router.push(`/admin/aulas/editar/${id}`);
    },
    async eliminar(id) {
      Swal.fire({
        title: "¿Seguro que desea continuar?",
        showDenyButton: true,
        confirmButtonText: `Si`,
        denyButtonText: `No`,
      }).then(async (result) => {
        if (result.isConfirmed) {
          let response = await this.$store.dispatch("deleteAula", id);
          this.showMessage(response);
        }
      });
    },
    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },
    customFilter(items, filters, filter, headers) {
      const cf = new this.$MultiFilters(items, filters, filter, headers);
      cf.registerFilter("busquedaModel", function (busquedaModel, items) {
        if (!busquedaModel || busquedaModel.trim() === "") return items;
        return items.filter((item) => {
          console.log(item);
          return item.grado.valor
            .concat(" ", item.seccion)
            .toLowerCase()
            .includes(busquedaModel.toLowerCase());
        }, busquedaModel);
      });

      cf.registerFilter("nivelModel", function (nivelModel, items) {
        // If the filter has not been applied yet
        // just return all available items.
        if (!nivelModel || nivelModel === 0 || nivelModel === null)
          return items;
        // Compare each item nivelModel and just return the matching ones.
        return items.filter((item) => {
          return item.nivel.id === nivelModel;
        }, nivelModel);
      });

      cf.registerFilter("periodoModel", function (perdiodoModel, items) {
        // If the filter has not been applied yet
        // just return all available items.
        if (!perdiodoModel || perdiodoModel === 0 || perdiodoModel === null)
          return items;
        // Compare each item perdiodoModel and just return the matching ones.
        return items.filter((item) => {
          return item.periodo_id === perdiodoModel;
        }, perdiodoModel);
      });
      return cf.runFilters();
    },
    filterNivel(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        nivelModel: val,
      });
    },
    filterPeriodo(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        periodoModel: val,
      });
    },
    filterSearch(val) {
      this.filters = this.$MultiFilters.updateFilters(this.filters, {
        busquedaModel: val,
      });
    },
    pickFile() {
      //this.importObj.loadingImport = true;
      this.$refs.fileImport.click();
    },
    importDataFile(e) {
      console.log("importDataFile", e);
      this.$refs.importComponent.initDialog(e, this.importObj);
    },
  },
  mounted() {
    this.$store.dispatch("getAulas");

    this.$store.dispatch("getNivel").then((response) => {
      if (response.status) {
        console.log(response);
        this.niveles = response.body;
        this.niveles.unshift({
          id: 0,
          nombre: "TODOS",
        });
      }
    });

    this.$store.dispatch("getAniosAula").then((response) => {
      if (response.status) {
        console.log(response.body);

        this.periodos = response.body;
        this.periodos.unshift({
          id: 0,
          nombre: "TODOS",
        });
      }
    });
  },
};
</script>

<style>
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
