<template>
  <div>
    <v-btn dark color="base-secondary" @click.native="guardarCambios">
      Guardar Cambios
    </v-btn>

    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>Colores</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <div class="flex-picker">
            <div>
              <h5 class="pd-16">Color principal</h5>
              <p>
                Actual:
                <span
                  ><strong>{{ this.configuracion.cPrincipal }}</strong></span
                >
              </p>
              <div class="mg-16">
                <verte
                  model="hex"
                  picker="square"
                  v-model="color"
                  :showHistory="false"
                  :draggable="true"
                ></verte>
              </div>
            </div>
            <div>
              <h5 class="pd-16">Color secundario</h5>
              <p>
                Actual:
                <span
                  ><strong>{{ this.configuracion.cSecundario }}</strong></span
                >
              </p>
              <div class="mg-16">
                <verte
                  model="hex"
                  picker="square"
                  v-model="colorSecundario"
                  :showHistory="false"
                  :draggable="true"
                ></verte>
              </div>
            </div>
          </div>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>

    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>Imágenes</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <div class="my-4">
            <h5 class="text-xs-center my-2">Logo de institución</h5>

            <div class="imgcontainer my-2">
              <v-img :src="imageUrl" class="profile-pic polaroid" />

              <div class="middle">
                <v-btn color="base-secondary" dark @click="pickFile"
                  >Cambiar
                  <v-icon right medium>camera_alt</v-icon>
                </v-btn>

                <input
                  type="file"
                  style="display: none"
                  ref="image"
                  accept=".png, .jpg, .jpeg"
                  @change="onFilePicked"
                />
              </div>
            </div>
          </div>

          <div class="my-4">
            <h5 class="text-xs-center my-2">Imagen de inicio</h5>

            <div class="imgcontainer my-2">
              <v-img :src="imageUrlInicio" class="profile-pic polaroid" />

              <div class="middle">
                <v-btn color="base-secondary" dark @click="pickFileInicio"
                  >Cambiar
                  <v-icon right medium>camera_alt</v-icon>
                </v-btn>

                <input
                  type="file"
                  style="display: none"
                  ref="imageInicio"
                  accept=".png, .jpg, .jpeg"
                  @change="onFilePickedInicio"
                />
              </div>
            </div>
          </div>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
//import items from "@/api/periodo";
import VWidget from "@/components/VWidget";
import Swal from "sweetalert2";

import verte from "verte";
export default {
  components: {
    VWidget,
    verte,
  },
  async mounted() {
    let response = await this.$store.dispatch("getConfiguracion");

    this.color = response.cPrincipal;
    this.colorSecundario = response.cSecundario;
    this.configuracion = response;

    if (response.imagen != null) {
      var backServer = this.$config.baseUrl.slice(0, -4);
      var d = [backServer, response.imagen].join("/");
      this.imageUrl = d;
      this.getImageFileFromUrl();
    }

    /*if (this.imageUrl) {
      this.getImageFileFromUrl();
    }*/

    if (response.imagen_login != null) {
      console.log("imagen login ggg");
      var backServer = this.$config.baseUrl.slice(0, -4);
      var d = [backServer, response.imagen_login].join("/");
      this.imageUrlInicio = d;
      this.getImageFileLoginFromUrl();
    }

    /*if (this.imageUrlInicio) {
      console.log('entra inicio');
      this.getImageFileLoginFromUrl();
    }*/
  },
  data() {
    return {
      textRule: [(v) => !!v || "Campo Obligatorio"],
      firstname: "",
      valid: false,
      menu: false,
      newArea: "",
      txtEditArea: "",
      txtIdEditArea: "",
      dialogNuevo: false,
      dialogEditar: false,
      dialogCambiar: false,
      color: "",
      colorSecundario: "",
      configuracion: "",
      imageUrl: require("@/assets/eduqy_logo_transparente_amarillo.png"),
      imageUrlInicio: require("@/assets/eduqy_logo_transparente.png"),
      imageFile: "",
      imageLogin: "",
      cambioLogo: false,
      cambioLogin: false,
      scrollable: {
        name: "",
        dialog: false,
      },
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
        { text: "Opción", value: "area", sortable: false },
        { text: "valor", value: "action", align: "center", sortable: false },
      ],
      colors: {
        true: "green",
        false: "red",
      },
    };
  },
  computed: {},

  methods: {
    async editarConfiguracion() {
      this.dialogEditar = false;
      let response = await this.$store.dispatch("editArea", {
        id: this.txtIdEditArea,
        nombre: this.txtEditArea,
        estado: 1,
      });
      this.showMessage(response);
    },
    fillEditar(id, nombre) {
      this.txtEditArea = nombre;
      this.txtIdEditArea = id;
    },
    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 5000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },
    async guardarCambios() {
      let response = await this.$store
        .dispatch("updateConfiguracion", {
          id: this.configuracion.id,
          cPrincipal: this.color,
          cSecundario: this.colorSecundario,
          imageBlob: this.imageFile,
          imageBlobLogin: this.imageLogin,
          cambioLogoBo: this.cambioLogo,
          cambioInicioBo: this.cambioLogin,
        })
        .then(
          (response) => {
            this.configuracion = response.body;
            this.showMessage(response);
          },
          (error) => {}
        );
    },
    pickFile() {
      this.$refs.image.click();
    },
    pickFileInicio() {
      this.$refs.imageInicio.click();
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }

        const imgSize = Math.round(files[0].size / (1024 * 1024));
        if (imgSize >= this.maxImgSize) {
          this.errorsBack[
            "img"
          ] = "La imagen supera el tamaño máximo permitido de "
            .concat(this.maxImgSize)
            .concat(" mb.");
          return;
        }

        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", (e) => {
          this.imageUrl = fr.result;
          this.imageFile = files[0];
        });
        this.cambioLogo = true;
      } else {
        this.clearImagePick();
      }
    },
    onFilePickedInicio(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }

        const imgSize = Math.round(files[0].size / (1024 * 1024));
        if (imgSize >= this.maxImgSize) {
          this.errorsBack[
            "img"
          ] = "La imagen supera el tamaño máximo permitido de "
            .concat(this.maxImgSize)
            .concat(" mb.");
          return;
        }

        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", (e) => {
          this.imageUrlInicio = fr.result;
          this.imageLogin = files[0];
        });
        this.cambioLogin = true;
      } else {
        this.clearImagePick();
      }
    },
    async getImageFileFromUrl() {
      const response = await fetch(this.imageUrl);
      // here image is url/location of image
      const blob = await response.blob();
      const testfile = new File([blob], "defaultProfile.jpg", {
        type: blob.type,
      });
      this.imageFile = testfile;
    },
    async getImageFileLoginFromUrl() {
      const response = await fetch(this.imageUrlInicio);
      // here image is url/location of image
      const blob = await response.blob();
      const testfile = new File([blob], "defaultProfile.jpg", {
        type: blob.type,
      });
      this.imageLogin = testfile;
    },
  },
};
</script>

<style>
@import "verte/dist/verte.css";
h5 {
  white-space: nowrap;
}
p {
  text-align: center;
}
.none {
  display: none;
}
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}

.pd-16 {
  margin-top: 2%;
}
.mg-16 {
  margin-top: 20%;
  margin-bottom: 15%;
}
.flex-picker {
  display: flex;
  justify-content: space-around;
}
.imgcontainer {
  position: relative;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-nohover {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.profile-pic {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imgcontainer:hover .profile-pic {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.imgcontainer h5 {
  text-align: center;
}
</style>
