<template>
  <div class="full-witdh">
    <v-alert
      :value="false"
      color="success"
      icon="check_circle"
      outline
      v-model="alertSuccess"
      dismissible
    >
      Cambios guardados satisfactoriamente
    </v-alert>
    <v-alert
      :value="true"
      color="error"
      icon="warning"
      outline
      dismissible
      v-model="alertError"
    >
      Ocurrio un error inesperado, consulte con el administrador
    </v-alert>

    <!-- btn2 -->
    <v-dialog v-model="dialogNuevo" max-width="800px">
      <v-btn color="base-secondary" dark slot="activator">Nueva carpeta</v-btn>
      <v-card>
        <v-form ref="form" v-model="valid">
          <v-card-title>
            <span class="headline">Agregar nueva carpeta</span>
          </v-card-title>
          <v-divider></v-divider>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md6>
                  <v-form>
                    <v-text-field
                      v-model="nombreCarpeta"
                      label="Nombre de la carpeta"
                      required
                      v-on:keyup.enter="agregarCarpeta"
                    ></v-text-field>
                    <v-text-field
                      v-show="false"
                      v-model="prueba"
                      label="prueba"
                    ></v-text-field>
                  </v-form>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="agregarCarpeta"
                      >Agregar</v-btn
                    >
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="dialogNuevo = false"
                      >Cancelar</v-btn
                    >
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-form>
      </v-card>
    </v-dialog>
    <v-btn @click.native="guardarCambios()" dark color="base-secondary">
      Guardar Cambios
    </v-btn>
    <br />
    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>{{ nombreCurso }}</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <div></div>
        </div>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <v-tabs fixed-tabs v-model="active_tab">
            <v-tab
              v-for="tab in periodoActual.subperiodos"
              :key="tab.id"
              @click="cambioPeriodo(tab.id)"
            >
              {{ periodoActual.modalidad }} {{ tab.secuencia }}
            </v-tab>
            <v-tab-item v-for="tab in periodoActual.subperiodos" :key="tab.id">
              <v-expansion-panel id="listaSemanas">
                <v-expansion-panel-content
                  v-for="(item, i) in contenidos"
                  :key="i"
                >
                  <template v-slot:header>
                    <div class="flex-1">
                      <div id="titulo" :idCarpeta="item.id" class="item">
                        {{ item.titulo }}
                      </div>

                      <!-- Modal para editar -->

                      <v-dialog
                        v-model="dialogEditar"
                        persistent
                        max-width="800px"
                      >
                        <v-btn
                          @click.native="fillEditModal(item)"
                          flat
                          icon
                          color="black"
                          slot="activator"
                          class="align-top"
                          ><v-icon>edit</v-icon></v-btn
                        >

                        <v-card>
                          <v-form ref="form" v-model="valid">
                            <v-card-title>
                              <span class="headline"
                                >Editar nombre carpeta</span
                              >
                            </v-card-title>
                            <v-divider></v-divider>

                            <v-card-text>
                              <v-container grid-list-md>
                                <v-layout wrap>
                                  <v-flex xs12 sm6 md6>
                                    <v-form>
                                      <v-text-field
                                        v-model="editCarpeta.titulo"
                                        label="Nombre de carpeta"
                                        required
                                        v-on:keyup.enter="editarNombreCarpeta"
                                      ></v-text-field>
                                      <v-text-field
                                        v-show="false"
                                        v-model="prueba"
                                        label="prueba"
                                      ></v-text-field>
                                    </v-form>
                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn
                                        color="blue darken-1"
                                        flat
                                        @click.native="editarNombreCarpeta"
                                        >Aceptar</v-btn
                                      >
                                      <v-btn
                                        color="blue darken-1"
                                        flat
                                        @click.native="dialogEditar = false"
                                        >Cancelar</v-btn
                                      >
                                    </v-card-actions>
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </v-card-text>
                          </v-form>
                        </v-card>
                      </v-dialog>

                      <v-btn
                        @click="duplicarCarpeta"
                        flat
                        icon
                        color="black"
                        class="align-top"
                        ><v-icon>content_copy</v-icon></v-btn
                      >
                    </div>

                    <v-btn id="btnEliminar" flat icon color="black">
                      <v-icon @click.stop="eliminar(item.id)">delete</v-icon>
                    </v-btn>
                  </template>

                  <v-dialog v-model="dialogConfirmEliminar" max-width="290">
                    <v-card>
                      <v-card-title class="headline"
                        >Use Google's location service?</v-card-title
                      >

                      <v-card-text>
                        Let Google help apps determine location. This means
                        sending anonymous location data to Google, even when no
                        apps are running.
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                          color="green darken-1"
                          flat="flat"
                          @click="dialog = false"
                        >
                          Cancelar
                        </v-btn>

                        <v-btn
                          color="green darken-1"
                          flat="flat"
                          @click="dialog = false"
                        >
                          Eliminar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <v-card id="cursos">
                    <div>
                      <editor
                        api-key="1iuxhw6pqf1kvo96jkvygc1ehun1noukqq5oqph5zm9z1lyz"
                        :init="editor_data"
                        v-model="item.data"
                      >
                        Hola amigos</editor
                      >
                    </div>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-tab-item>
          </v-tabs>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
//import items from "@/api/periodo";
import VWidget from "@/components/VWidget";
//import VueFroala from "vue-froala-wysiwyg";

import Editor from "@tinymce/tinymce-vue";
//import tinymce from 'tinymce'

const self = this;
var URL;

export default {
  components: {
    VWidget,
    editor: Editor,
  },

  created() {
    URL = this.$config.baseUrl;
  },
  async mounted() {
    if (this.$store.getters.getUsuario == null) {
      this.$router.push({ name: "login" });
    }

    this.$store.dispatch("getSubperiodos");

    //

    let response = await this.$axios.$get(
      `curso/getContenido?idAulaCurso=` + this.$route.query.idAulaCurso
    );

    this.editor_data.images_upload_url = `${this.$config.baseUrl}/upload/image`;

    this.contenidos = response.body;
  },

  async fetch() {
    //URL = this.$config.baseUrl;
    //console.log(URL);
  },

  data() {
    return {
      editor_data: {
        select: "#editorTiny",
        height: 500,
        menubar: "file edit view insert format tools table help",
        plugins: [
          "print preview paste importcss searchreplace autolink autosave save directionality code visualblocks",
          "visualchars fullscreen image link media template codesample table charmap hr",
          "pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools",
          "textpattern noneditable help charmap quickbars emoticons media",
        ],
        toolbar:
          "undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl",
        toolbar_sticky: true,
        image_title: true,
        automatic_uploads: true,
        file_picker_types: "file image media",
        media_live_embeds: true,
        language: "es",

        file_picker_callback: function (cb, value, meta) {
          /* Provide file and text for the link dialog */
          if (meta.filetype === "file") {
            var input = document.createElement("input");
            input.setAttribute("type", "file");
            input.setAttribute(
              "accept",
              "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, .mp3, .docx, , .doc, .xlsx, .xls, .pptx, .ppt"
            );

            input.onchange = function () {
              var file = this.files[0];
              var reader = new FileReader();
              // FormData
              var fd = new FormData();
              var files = file;
              fd.append("filetype", meta.filetype);

              fd.append("file", files);

              var filename = "";
              // AJAX
              var xhr, formData;
              xhr = new XMLHttpRequest();
              xhr.withCredentials = false;
              console.log(URL);
              xhr.open("POST", `${URL}/upload/file`); //http://localhost:8000/api/upload/image

              xhr.onload = function () {
                var json;
                if (xhr.status != 200) {
                  failure("HTTP Error: " + xhr.status);
                  return;
                }
                json = JSON.parse(xhr.responseText);
                if (!json || typeof json.location != "string") {
                  failure("Invalid JSON: " + xhr.responseText);
                  return;
                }
                //success(json.location);
                filename = json.location;
                cb(filename, { title: file.name });
              };
              xhr.send(fd);

              reader.readAsDataURL(file);
              return;
            };

            input.click();
          }

          /* Provide image and alt text for the image dialog */
          if (meta.filetype === "image") {
            var input = document.createElement("input");
            input.setAttribute("type", "file");
            input.setAttribute("accept", "image/*");

            input.onchange = function () {
              var file = this.files[0];

              var reader = new FileReader();
              reader.onload = function () {
                var id = "blobid" + new Date().getTime();
                var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                var base64 = reader.result.split(",")[1];
                var blobInfo = blobCache.create(id, file, base64);
                blobCache.add(blobInfo);

                cb(blobInfo.blobUri(), { title: file.name });
              };
              reader.readAsDataURL(file);
            };

            input.click();
          }

          /* Provide alternative source and posted for the media dialog */
          if (meta.filetype === "media") {
            var input = document.createElement("input");
            input.setAttribute("type", "file");
            input.setAttribute("accept", "video/*");

            input.onchange = function () {
              var file = this.files[0];
              var reader = new FileReader();
              // FormData
              var fd = new FormData();
              var files = file;
              fd.append("filetype", meta.filetype);

              fd.append("file", files);

              var filename = "";
              // AJAX
              var xhr, formData;
              xhr = new XMLHttpRequest();
              xhr.withCredentials = false;
              xhr.open("POST", `${URL}/upload/video`); //http://localhost:8000/api/upload/image

              xhr.onload = function () {
                var json;
                if (xhr.status != 200) {
                  failure("HTTP Error: " + xhr.status);
                  return;
                }
                json = JSON.parse(xhr.responseText);
                if (!json || typeof json.location != "string") {
                  failure("Invalid JSON: " + xhr.responseText);
                  return;
                }
                //success(json.location);
                filename = json.location;
                cb(filename, { title: file.name });
              };
              xhr.send(fd);

              reader.readAsDataURL(file);
              return;
            };

            input.click();
          }
        },
        images_upload_url: null,
      },

      prueba: "",
      nombreCurso: this.$route.query.nombreCurso,
      nombreCarpeta: "",
      editCarpeta: { titulo: "", id: "" },
      editor: "",
      contenidos: "",

      model: "Edit Your Content Here!",

      carpeta: {
        titulo: "",
        data: "",
      },
      valid: false,
      dialogNuevo: false,
      dialogEditar: false,
      dialogCambiar: false,
      dialogVisualizar: false,
      alertSuccess: false,
      alertError: false,
      txtVistaPrevia: "",
      dialogConfirmEliminar: false,
      active_tab: 0,
      idSubPeriodoActual: 0,
      scrollable: {
        name: "",
        dialog: false,
      },
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
        { text: "Área", value: "area", sortable: false },
        { text: "Opciones", value: "action", align: "center", sortable: false },
      ],
      colors: {
        true: "green",
        false: "red",
      },
    };
  },
  computed: {
    periodoActual() {
      this.active_tab = this.$store.getters.getSubperiodoActual;
      return this.$store.getters.getSubperiodos;
    },
  },
  methods: {
    async guardarCambios() {
      this.alertSuccess = false;
      this.alertError = false;
      var listCarpertas = $("#listaSemanas > li");
      var carpetas = [];
      listCarpertas.each(function (index, li) {
        var iframe = $(li).find("iframe");

        var txtEditor = $(iframe).contents().find("body");

        var txtTitulo = $(li).find("#titulo");
        var id = $(txtTitulo).attr("idCarpeta");
        var titulo = $(txtTitulo).text();
        var data = $(txtEditor).html();

        carpetas.push({ id, titulo, data });
      });

      let response = await this.$store
        .dispatch("addContenido", {
          idCursoAula: this.$route.query.idAulaCurso,
          idSubPeriodo: this.idSubPeriodoActual,
          carpetas: carpetas,
        })
        .then(
          (response) => {
            this.updateTable();
            this.$forceUpdate();
            this.alertSuccess = true;
            setTimeout(() => {
              this.alertSuccess = false;
            }, 3000);
          },
          (error) => {
            this.alertError = true;
            setTimeout(() => {
              this.alertError = false;
            }, 3000);
          }
        );
    },

    async updateTable() {
      let response = await this.$axios.$get(
        `curso/getcontenidoBySubperiodo?idAulaCurso=` +
          this.$route.query.idAulaCurso +
          "&idSubPeriodo=" +
          this.idSubPeriodoActual
      );
      this.contenidos = response.body;
    },
    async agregarCarpeta() {
      this.dialogNuevo = false;

      let response = await this.$store
        .dispatch("addCarpeta", {
          idCursoAula: this.$route.query.idAulaCurso,
          idSubPeriodo: this.idSubPeriodoActual,
          titulo: this.nombreCarpeta,
        })
        .then(
          (response) => {
            this.updateTable();
            this.$forceUpdate();
            this.alertSuccess = true;
            setTimeout(() => {
              this.alertSuccess = false;
            }, 300);
          },
          (error) => {
            this.alertError = true;
            setTimeout(() => {
              this.alertError = false;
            }, 300);
          }
        );
    },

    setVistaPrevia(event) {
      var elem = event.currentTarget;
      var li = $(elem).closest("li");
      var txtEditor = $(li).find("#txtEditor");
      var data = $(txtEditor).val();
      this.txtVistaPrevia = data;
    },

    fillEditModal(carpeta) {
      this.editCarpeta.titulo = carpeta.titulo;
      this.editCarpeta.id = carpeta.id;
    },

    async editarNombreCarpeta() {
      if (this.editCarpeta.id != "undefined") {
        var id = this.editCarpeta.id;
        var nombreCarpeta = this.editCarpeta.titulo;

        let response = await this.$store
          .dispatch("actualizarCarpeta", {
            id: id,
            idCursoAula: this.$route.query.idAulaCurso,
            nombreCarpeta: nombreCarpeta,
          })
          .then(
            (response) => {
              this.alertSuccess = true;
              this.dialogEditar = false;
              this.updateTable();
              setTimeout(() => {
                this.alertSuccess = false;
              }, 300);
            },
            (error) => {
              his.dialogEditar = false;
              this.alertError = true;
            }
          );
      } else {
        console.log("no hay");
      }
    },

    async eliminar(id) {
      //await this.guardarCambios();
      let response = await this.$store
        .dispatch("deleteContenido", {
          id: id,
          idCursoAula: this.$route.query.idAulaCurso,
        })
        .then(
          (response) => {
            this.updateTable();
          },
          (error) => {}
        );
    },

    async duplicarCarpeta(event) {
      var elem = event.currentTarget;
      var li = $(elem).closest("li");

      var iframe = $(li).find("iframe");

      var txtEditor = $(iframe).contents().find("body");

      var txtTitulo = $(li).find("#titulo");

      var titulo = $(txtTitulo).text();
      var data = $(txtEditor).html();

      let response = await this.$store
        .dispatch("addCarpeta", {
          idCursoAula: this.$route.query.idAulaCurso,
          idSubPeriodo: this.idSubPeriodoActual,
          titulo: titulo,
          data: data,
        })
        .then(
          (response) => {
            this.updateTable();
            this.$forceUpdate();
            this.alertSuccess = true;
            setTimeout(() => {
              this.alertSuccess = false;
            }, 300);
          },
          (error) => {
            this.alertError = true;
            setTimeout(() => {
              this.alertError = false;
            }, 300);
          }
        );
    },

    async cambioPeriodo(idSubPeriodo) {
      this.idSubPeriodoActual = idSubPeriodo;

      let response = await this.$axios.$get(
        `curso/getcontenidoBySubperiodo?idAulaCurso=` +
          this.$route.query.idAulaCurso +
          "&idSubPeriodo=" +
          idSubPeriodo
      );
      this.contenidos = response.body;
    },
  },
};
</script>



<style>
.none {
  display: none;
}

li {
  margin-top: 20px;
}

#cursos {
  margin-left: 30px;
  margin-top: 15px;
}

#titulo {
  color: #744e2e;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.v-card > #list-cursos {
  margin-bottom: 10px;
  background-color: #f8eade !important;
}

.v-card > div:last-child {
  margin-bottom: 0px;
}

.flex-1 {
  display: flex;
}

.align-top {
  margin-top: 0;
}

#btnEliminar {
  flex: 0 1 0;
  margin-right: 2rem;
}

.v-expansion-panel__header {
  background-color: #f8eade !important;
}

.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
.full-witdh {
  width: 110%;
}
</style>
