<template>
  <div class="full-witdh">
    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>{{ nombreCurso }}</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <div></div>
        </div>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <v-tabs fixed-tabs v-model="active_tab">
            <v-tab
              v-for="tab in periodoActual.subperiodos"
              :key="tab.id"
              @click="cambioPeriodo(tab.id)"
            >
              {{ periodoActual.modalidad }} {{ tab.secuencia }}
            </v-tab>
            <v-tab-item v-for="tab in periodoActual.subperiodos" :key="tab.id">
              <v-expansion-panel id="listaSemanas">
                <v-expansion-panel-content
                  v-for="(item, i) in contenidos"
                  :key="i"
                >
                  <template v-slot:header>
                    <div id="titulo" :idCarpeta="item.id" class="item">
                      {{ item.titulo }}
                    </div>
                  </template>

                  <v-card id="cursos">
                    <div v-html="item.data">
                      <!--<textarea v-model="item.data">  </textarea>
                        -->
                    </div>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-tab-item>
          </v-tabs>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
//import items from "@/api/periodo";
import VWidget from "@/components/VWidget";
//import VueFroala from 'vue-froala-wysiwyg';

const self = this;

export default {
  components: {
    VWidget,
  },
  async mounted() {
    if (this.$store.getters.getUsuario == null) {
      this.$router.push({ name: "login" });
    }
    //

    this.$store.dispatch("getSubperiodos");

    let response = await this.$axios.$get(
      `curso/getContenido?idAulaCurso=` + this.$route.query.idAulaCurso
    );
    this.contenidos = response.body;
  },
  data() {
    return {
      nombreCurso: this.$route.query.nombreCurso,
      nombreCarpeta: "",
      editor: "",
      contenidos: "",
      config: {
        events: {
          initialized: function (e, editor) {
            console.log("initialized");
          },
        },
      },
      model: "Edit Your Content Here!",

      carpeta: {
        titulo: "",
        data: "",
      },
      valid: false,
      scrollable: {
        name: "",
        dialog: false,
      },
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
        { text: "Área", value: "area", sortable: false },
        { text: "Opciones", value: "action", align: "center", sortable: false },
      ],
      colors: {
        true: "green",
        false: "red",
      },
    };
  },
  computed: {
    periodoActual() {
      this.active_tab = this.$store.getters.getSubperiodoActual;
      return this.$store.getters.getSubperiodos;
    },
  },
  methods: {
    async cambioPeriodo(idSubPeriodo) {
      this.idSubPeriodoActual = idSubPeriodo;
      
      let response = await this.$axios.$get(
        `curso/getcontenidoBySubperiodo?idAulaCurso=` +
          this.$route.query.idAulaCurso +
          "&idSubPeriodo=" +
          idSubPeriodo
      );
      this.contenidos = response.body;
    },
  },
};
</script>



<style>
.none {
  display: none;
}

li {
  margin-top: 20px;
}

.v-expansion-panel__header {
  background-color: #f8eade !important;
}

#cursos {
  margin-left: 30px;
  margin-top: 15px;
}

#titulo {
  color: #744e2e;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.v-card > #list-cursos {
  margin-bottom: 10px;
  background-color: #f8eade !important;
}

.v-card > div:last-child {
  margin-bottom: 0px;
}
.full-witdh {
  width: 110%;
}
</style>
