<template>
  <div>
    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>Aulas</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <div>
            
          </div>
        </div>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>

            <v-expansion-panel>
                <v-expansion-panel-content
                v-for="(item,i) in grados"
                :key="i"
                >
                <template v-slot:header>
                    <div  class="item">{{item.nombre}}</div>
                </template>
                
                <v-card id="cursos">
                    <div v-for="(curso, key) in item.cursos"
                    :key="key" id="list-cursos">


                        <v-btn
                          class="item"
                          color="blue darken-1"
                          flat
                          @click.native="detalleCurso(curso)"
                          >{{curso.nombre}}</v-btn
                        >
                        <!--<v-card-text>{{curso.nombre}}</v-card-text>-->
                    </div>

                    
                </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>


          
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
//import items from "@/api/periodo";
import VWidget from "@/components/VWidget";
export default {
  components: {
    VWidget,
  },
  mounted() {
    if(this.$store.getters.getUsuario == null){
      this.$router.push({ name: "login" });
    }
    this.$store.dispatch("getAulasProfesor", {
      idProfesor: this.$store.getters.getUsuario.id,
    });
  },
  data() {
    return {

      textRule: [(v) => !!v || "Campo Obligatorio"],
      firstname: "",
      valid: false,
      menu: false,
      newArea: "",
      txtEditArea: "",
      txtIdEditArea: "",
      dialogNuevo: false,
      dialogEditar: false,
      dialogCambiar: false,
      scrollable: {
        name: "",
        dialog: false,
      },
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
        { text: "Área", value: "area", sortable: false },
        { text: "Opciones", value: "action", align: "center", sortable: false },
      ],
      colors: {
        true: "green",
        false: "red",
      },
    };
  },
  computed: {
    grados() {

      return this.$store.getters.getAulasProfesor;
    },
    
  },
  methods: {
    detalleCurso(curso){
    this.$router.push({
        path: `/profesor/contenido?idAulaCurso=${curso.idAulaCurso}`,
        query: {
          nombreCurso: curso.nombre,
        },
      });

    }
  }

};
</script>

<style>
.none {
  display: none;
}

li {
    margin-top: 20px;
    color: #744e2e !important;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}



#cursos{
    
    margin-left: 30px;
    margin-top: 15px;
}


.v-card > #list-cursos{
    margin-bottom: 10px;
    background-color: #f8eade !important;
}

.v-card > div:last-child {
    margin-bottom: 0px;
}

#cursos .item{
  width: 100%;

}

.v-expansion-panel__header{
    background-color:#f8eade !important;
}

#list-cursos  div{
  display: block;
  text-align: left;
}
</style>
