<template>
  <div>
    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>Área {{ this.$route.query.nombreArea }}</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <div>
            <!-- btn1  -->
            <v-btn color="base-secondary" dark @click="pickFile">
              <v-icon>import_export</v-icon>Importar
              <input
                type="file"
                style="display: none"
                ref="fileImport"
                accept=".csv"
                @change="onFilePicked"
              />
            </v-btn>
            <!-- btn2 -->

            <v-btn
              color="base-secondary"
              dark
              slot="activator"
              @click.stop="dialogNuevo = true"
              @click="setNuevoCurso"
              >Registrar curso</v-btn
            >

            <v-dialog
              v-show="dialogNuevo"
              v-model="dialogNuevo"
              max-width="800px"
            >
              <v-card>
                <v-form ref="form" v-model="valid">
                  <v-card-title>
                    <span class="headline">Registrar nuevo curso</span>
                  </v-card-title>
                  <v-divider></v-divider>

                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            v-model="curso.nombre"
                            label="Nombre del curso"
                            required
                            :rules="textRule"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                          <v-flex xs12 align-center>
                            <div class="imgcontainer">
                              <v-img
                                :src="imageUrl"
                                v-if="imageUrl"
                                class="profile-pic"
                              />

                              <div class="middle">
                                <v-btn
                                  color="base-secondary"
                                  dark
                                  @click="pickImage"
                                  >Cambiar
                                  <v-icon right medium>camera_alt</v-icon>
                                </v-btn>

                                <input
                                  type="file"
                                  style="display: none"
                                  ref="image"
                                  accept=".png, .jpg, .jpeg"
                                  @change="onImagePicked"
                                />
                              </div>
                            </div>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <ul id="listCompetencias">
                    <li
                      v-for="(competencia, index) in curso.competencias"
                      v-bind:key="competencia.index"
                    >
                      <div class="container-competencia">
                        <div>
                          <div class="container-flex">
                            <v-text-field
                              v-model="competencia.nombre"
                              label="Ingrese competencia..."
                              required
                              :rules="textRule"
                            ></v-text-field>
                          </div>

                          <ul id="listCapacidades">
                            <li
                              v-for="(
                                capacidad, index
                              ) in competencia.capacidades"
                              v-bind:key="capacidad.index"
                            >
                              <div class="container-flex">
                                <v-text-field
                                  v-model="capacidad.nombre"
                                  label="Ingrese capacidad..."
                                  required
                                  :rules="textRule"
                                  v-on:keyup.enter="
                                    agregarCapacidad(competencia)
                                  "
                                ></v-text-field>
                                <v-btn flat icon color="grey">
                                  <v-icon
                                    color="orange"
                                    dense
                                    x-large
                                    @click.native="
                                      eliminarCapacidad(competencia, index)
                                    "
                                    >delete_forever</v-icon
                                  >
                                </v-btn>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="container-mid">
                          <v-btn
                            @click.native="agregarCapacidad(competencia)"
                            flat
                            color="grey"
                          >
                            <v-icon color="orange" dense x-large
                              >add_circle</v-icon
                            >
                            Agregar capacidad
                          </v-btn>
                        </div>
                      </div>
                      <div class="container-vertical">
                        <v-btn flat icon color="grey">
                          <v-icon
                            color="red"
                            dense
                            x-large
                            @click.native="eliminarCompetencia(index)"
                            >remove_circle</v-icon
                          >
                        </v-btn>
                      </div>
                    </li>
                  </ul>

                  <div class="container-mid">
                    <v-btn
                      color="base-secondary"
                      dark
                      @click.native="agregarCompetencia"
                    >
                      Agregar competencia
                    </v-btn>
                  </div>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="agregarCurso"
                      >Aceptar</v-btn
                    >
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="dialogNuevo = false"
                      >Cancelar</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>

            <!-- MODAL IMPORT -->
            <v-dialog v-model="dialogimport" max-width="800px" scrollable>
              <v-card>
                <v-card-title>
                  <span class="headline">Datos del archivo:</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <div>
                    <h4>
                      PROCESANDO {{ importProcess }}/{{ importData.length }}
                    </h4>
                  </div>
                  <v-data-table
                    :headers="importHeaders"
                    :items="importData"
                    :search="busquedaModel"
                    hide-actions
                    class="elevation-0"
                  >
                    <template slot="items" slot-scope="props">
                      <td>{{ props.index + 1 }}</td>
                      <td>
                        {{ props.item.nombre }}
                      </td>
                      <td class="text-xs-left">
                        {{ props.item.competencias[0].nombre }}
                      </td>

                      <td class="text-xs-left">
                        <ul class="post--list flex-list vertical">
                          <li
                            class="post--item"
                            v-for="(item, key) in props.item.competencias[0]
                              .capacidades"
                            :key="key"
                          >
                            <p>{{ item.nombre }}</p>
                          </li>
                        </ul>
                      </td>
                    </template>
                    <template v-slot:no-results>
                      <v-alert :value="true" color="error" icon="warning">
                        Tu búsqueda no generó resultados.
                      </v-alert>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    v-if="!finImport"
                    color="blue darken-1"
                    flat
                    @click.native="importCursos"
                    >Confirmar</v-btn
                  >
                  <v-btn
                    v-if="!finImport"
                    color="blue darken-1"
                    flat
                    @click.native="dialogimport = false"
                    >Cancelar</v-btn
                  >

                  <v-btn
                    v-else
                    color="blue darken-1"
                    flat
                    @click.native="dialogimport = false"
                    >Salir</v-btn
                  >
                </v-card-actions>
              </v-card></v-dialog
            >

            <!-- Modal Editar -->
            <v-dialog v-model="dialogEditar" max-width="800px">
              <v-card>
                <v-form ref="form" v-model="valid">
                  <v-card-title>
                    <span class="headline">Editar curso</span>
                  </v-card-title>
                  <v-divider></v-divider>

                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            v-model="cursoEditar.nombre"
                            label="Nombre del curso"
                            required
                            :rules="textRule"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                          <v-flex xs12 align-center>
                            <div class="imgcontainer">
                              <v-img
                                :src="imageUrl"
                                v-if="imageUrl"
                                class="profile-pic"
                              />

                              <div class="middle">
                                <v-btn
                                  color="base-secondary"
                                  dark
                                  @click="pickImage"
                                  >Cambiar
                                  <v-icon right medium>camera_alt</v-icon>
                                </v-btn>

                                <input
                                  type="file"
                                  style="display: none"
                                  ref="image"
                                  accept=".png, .jpg, .jpeg"
                                  @change="onImagePicked"
                                />
                              </div>
                            </div>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <ul id="listCompetencias">
                    <li
                      v-for="(competencia, index) in cursoEditar.competencias"
                      v-bind:key="competencia.index"
                    >
                      <div class="container-competencia">
                        <div>
                          <div class="container-flex">
                            <v-text-field
                              v-model="competencia.nombre"
                              label="Ingrese competencia..."
                              required
                              :rules="textRule"
                            ></v-text-field>
                          </div>

                          <ul id="listCapacidades">
                            <li
                              v-for="(
                                capacidad, index
                              ) in competencia.capacidades"
                              v-bind:key="capacidad.id"
                            >
                              <div class="container-flex">
                                <v-text-field
                                  v-model="capacidad.nombre"
                                  label="Ingrese capacidad..."
                                  required
                                  :rules="textRule"
                                ></v-text-field>
                                <v-btn flat icon color="grey">
                                  <v-icon
                                    color="orange"
                                    dense
                                    x-large
                                    @click.native="
                                      eliminarCapacidad(competencia, index)
                                    "
                                    >delete_forever</v-icon
                                  >
                                </v-btn>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="container-mid">
                          <v-btn
                            @click.native="agregarCapacidad(competencia)"
                            flat
                            color="grey"
                          >
                            <v-icon color="orange" dense x-large
                              >add_circle</v-icon
                            >
                            Agregar capacidad
                          </v-btn>
                        </div>
                      </div>
                      <div class="container-vertical">
                        <v-btn flat icon color="grey">
                          <v-icon
                            color="red"
                            dense
                            x-large
                            @click.native="eliminarCompetenciaEdit(index)"
                            >remove_circle</v-icon
                          >
                        </v-btn>
                      </div>
                    </li>
                  </ul>

                  <div class="container-mid">
                    <v-btn
                      color="base-secondary"
                      dark
                      @click.native="agregarCompetenciaEdit"
                    >
                      Agregar competencia
                    </v-btn>
                  </div>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="editarCurso"
                      >Agregar</v-btn
                    >
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="dialogEditar = false"
                      >Cancelar</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </div>
        </div>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <v-data-table :headers="headers" :items="cursos" hide-actions>
            <template slot="items" slot-scope="props">
              <td>{{ props.index + 1 }}</td>

              <td class="text-xs-left">
                <p>{{ props.item.nombre }}</p>
              </td>

              <td class="text-xs-left px-1">
                <div
                  class="pt-3"
                  v-for="(competencia, key) in props.item.competencias"
                  :key="key"
                >
                  <v-divider class="py-2" v-if="key > 0"></v-divider>
                  <div
                    v-for="(capacidad, key) in competencia.capacidades"
                    :key="key"
                  >
                    <td>
                      <p
                        v-if="
                          key ==
                          Math.round(competencia.capacidades.length / 2) - 1
                        "
                      >
                        {{ competencia.nombre }}
                      </p>
                    </td>
                  </div>
                </div>
              </td>

              <td class="text-xs-left px-1">
                <div
                  class="pt-3"
                  v-for="(competencia, key) in props.item.competencias"
                  :key="key"
                >
                  <v-divider class="py-2" v-if="key > 0"></v-divider>

                  <div
                    v-for="(capacidad, key) in competencia.capacidades"
                    :key="key"
                  >
                    <td>
                      <p>{{ capacidad.nombre }}</p>
                    </td>
                  </div>
                </div>
              </td>

              <td class="text-xs-center">
                <v-btn flat icon color="grey">
                  <v-icon
                    @click.stop="dialogEditar = true"
                    @click="fillEditar(JSON.parse(JSON.stringify(props)))"
                    >edit</v-icon
                  >
                </v-btn>

                <v-btn flat icon color="grey">
                  <v-icon @click="eliminar(props.item.id)">delete</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
//import items from "@/api/periodo";

import VWidget from "@/components/VWidget";
export default {
  props: ["nombreArea"],
  components: {
    VWidget,
  },
  created() {
    console.log("creates");
    console.log(this.$refs.image);
  },
  mounted() {
    this.$store.dispatch("getCursos", {
      idArea: this.$route.query.idArea,
    });

    if (this.imageUrl) {
      this.getImageFileFromUrl();
    }
  },
  data() {
    return {
      imageUrl: require("@/assets/pizarra-clase.jpg"),
      imageFile: "",
      finImport: false,
      curso_nuevo: {
        nombre: "",
        competencias: [
          {
            index: "0",
            nombre: "",
            capacidades: [
              {
                index: "0",
                nombre: "",
              },
            ],
          },
        ],
      },
      curso: {},
      cursoEditar: {
        nombre: "",
        id: "",
        competencias: [
          {
            id: "",
            estado: "",
            nombre: "",
            created_at: "",
            updated_at: "",
            capacidades: [
              {
                competencia_id: "",
                created_at: "",
                estado: "",
                id: "",
                nombre: "",
                updated_at: "",
              },
            ],
          },
        ],
      },
      importProcess: 0,
      importHeaders: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
      ],
      busquedaModel: "",
      importData: [],
      items: { type: [Array, Object] },
      textRule: [(v) => !!v || "Campo Obligatorio"],
      firstname: "",
      valid: false,
      menu: false,
      newArea: "",
      txtEditArea: "",
      txtIdEditArea: "",
      dialogNuevo: false,
      dialogEditar: false,
      dialogimport: false,
      selected: [],
      scrollable: {
        name: "",
        dialog: false,
      },
      colors: [
        { hex: "#f00", label: "Red" },
        { hex: "#0f0", label: "Green" },
        { hex: "#00f", label: "Blue" },
      ],
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id",
        },
        { text: "Curso", value: "curso", sortable: false },
        { text: "Competencia", value: "curso", sortable: false },
        { text: "Capacidades", value: "curso", sortable: false },
        { text: "Opciones", value: "action", align: "center", sortable: false },
      ],
      colors: {
        true: "green",
        false: "red",
      },
      nombre_area: "Gonchi",
    };
  },
  computed: {
    cursos() {
      return this.$store.getters.getCursos;
    },
  },

  methods: {
    async agregarCurso() {
      let response = await this.$store.dispatch("addCurso", {
        imageBlob: this.imageFile,
        area_id: this.$route.query.idArea,
        nombre: this.curso.nombre,
        competencias: this.curso.competencias,
      });
      this.dialogNuevo = false;
      this.showMessage(response);
      (this.imageUrl = require("@/assets/pizarra-clase.jpg")),
        this.getImageFileFromUrl();
    },
    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },
    async getImageFileFromUrl() {
      const response = await fetch(this.imageUrl);
      // here image is url/location of image
      const blob = await response.blob();
      const testfile = new File([blob], "defaultCurso.jpg", {
        type: blob.type,
      });
      this.imageFile = testfile;
    },

    async editarCurso() {
      this.dialogEditar = false;
      let response = await this.$store.dispatch("editCurso", {
        imageBlob: this.imageFile,
        id: this.cursoEditar.id,
        area_id: this.$route.query.idArea,
        nombre: this.cursoEditar.nombre,
        competencias: this.cursoEditar.competencias,
      });
    },
    fillEditar(elem) {
      if (elem.item.imagen) {
        var backServer = this.$config.baseUrl.slice(0, -4);
        var d = [backServer, elem.item.imagen].join("/");
        this.imageUrl = d;
      }
      this.cursoEditar.id = elem.item.id;
      this.cursoEditar.nombre = elem.item.nombre;
      this.cursoEditar.competencias = elem.item.competencias;
      this.dialogEditar = true;
      console.log(this.$refs);
    },
    async eliminar(id) {
      let response = await this.$store.dispatch("eliminarCurso", {
        area_id: this.$route.query.idArea,
        id: id,
      });
    },

    agregarCompetencia() {
      var index = this.curso.competencias.length + 1;
      this.curso.competencias.push({
        index: index,
        nombre: "",
        capacidades: [
          {
            index: "",
            nombre: "",
          },
        ],
      });
    },
    agregarCompetenciaEdit() {
      var index = this.cursoEditar.competencias.length + 1;
      this.cursoEditar.competencias.push({
        index: index,
        id: "",
        estado: "",
        nombre: "",
        created_at: "",
        updated_at: "",
        capacidades: [
          {
            competencia_id: "",
            created_at: "",
            estado: "",
            id: "",
            nombre: "",
            updated_at: "",
          },
        ],
      });
    },
    eliminarCompetencia(index) {
      this.curso.competencias.splice(index, 1);
    },
    eliminarCompetenciaEdit(index) {
      this.cursoEditar.competencias.splice(index, 1);
    },
    agregarCapacidad(elem) {
      var index = elem.capacidades.length + 1;
      elem.capacidades.push({ index: index, nombre: "" });
    },
    eliminarCapacidad(elem, index) {
      elem.capacidades.splice(index, 1);
    },
    pickFile() {
      this.$refs.fileImport.click();
    },
    pickImage() {
      console.log("pick image");
      console.log(this.$refs.image);
      this.$refs.image.click();
    },
    csvJSON(csv) {
      var vm = this;
      var lines = csv.split("\n");
      lines[0] = lines[0].replace("\r", "");
      var header = lines[0].split(",");

      header.map((h) => {
        let form = {};
        form.text = h;
        this.importHeaders.push(form);
      });

      lines.shift();
      lines.map((l) => {
        if (l == "") return;
        var form = [];
        let data = l.split(",");
        var competencias = [];
        var nombreCurso = data[0];
        var nombreCompetencia = data[1];
        data.shift();
        data.shift();
        var capacidades = [];
        data.map((d, i) => {
          var capacidad = d;
          capacidades.push({ nombre: capacidad });
        });
        competencias.push({
          nombre: nombreCompetencia,
          capacidades: capacidades,
        });
        var form = {
          nombre: nombreCurso,
          area_id: this.$route.query.idArea,
          competencias: competencias,
        };

        this.importData.push(form);
      });
      this.dialogimport = true;
    },
    onFilePicked(e) {
      var vm = this;
      var files = e.target.files,
        f = files[0];
      var reader = new FileReader();
      reader.readAsText(f);
      reader.onload = function (e) {
        var csv = e.target.result;
        vm.csvJSON(csv);
      };
    },
    onImagePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }

        const imgSize = Math.round(files[0].size / (1024 * 1024));
        if (imgSize >= this.maxImgSize) {
          this.errorsBack[
            "img"
          ] = "La imagen supera el tamaño máximo permitido de "
            .concat(this.maxImgSize)
            .concat(" mb.");
          return;
        }

        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", (e) => {
          this.imageUrl = fr.result;
          this.imageFile = files[0];
        });
      } else {
        this.clearImagePick();
      }
    },
    clearImagePick() {
      console.log("clear image pick");
      this.imageName = "";
      this.imageFile = "";
      this.imageUrl = "";
      this.errorsBack["img"] = "";
    },
    importCursos() {
      this.importData.map((i) => {
        this.registrar(i);
      });
      this.finImport = true;
    },
    registrar(formModelCuros) {
      this.$store
        .dispatch("addCurso", formModelCuros)
        .then((res) => {
          formModelCuros.estado = "exito";
          this.importProcess++;
        })
        .catch((err) => {
          formModelCuros.estado = "fallo";
          this.importProcess++;
        });
    },
    setNuevoCurso() {
      var curso = JSON.parse(JSON.stringify(this.curso_nuevo));
      this.curso = curso;
      console.log(this.$refs);
    },
  },
};
</script>

<style lang="stylus" scoped>
.imgcontainer {
  position: relative;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.imgcontainer:hover .profile-pic {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}

.profile-pic-nohover {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.profile-pic {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.none {
  display: none;
}

ul {
  list-style: none;
}

.container-competencia {
  /* height: 150px; */
  border: 1px solid black;
  margin: 5px 15px;
  padding: 10px 25px;
  width: 80%;
  border-radius: 33px;
}

#listCompetencias > li {
  display: flex;
}

.container-mid {
  text-align: center;
}

.container-vertical {
  display: flex;
  align-items: center;
}

.container-flex {
  display: flex;
}

.base-color {
  background-color: var(--primary-color) !important;
}

.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
