<template>
  <v-dialog v-model="enableDialog" max-width="800px" scrollable>
    <v-card style="padding: 10px">
      <v-layout wrap>
        <v-flex sm12>
          <h3 align="center">HORARIO</h3>
        </v-flex>
        <v-flex sm4>
          <h4 align="left">Dia</h4>
        </v-flex>
        <v-flex sm3>
          <h4 align="center">Hora Inicio</h4>
        </v-flex>
        <v-flex sm3>
          <h4 align="center">Hora Fin</h4>
        </v-flex>
        <v-flex sm2>
          <h4></h4>
        </v-flex>
      </v-layout>
      <v-layout v-bind:key="index" v-for="(item, index) of cronograma">
        <v-flex sm4>
          <v-select
            v-model="item.dia_id"
            label="---------"
            required
            item-text="value"
            item-value="id"
            :items="dias"
          ></v-select>
        </v-flex>
        <v-flex sm3>
          <v-menu
            ref="menu1"
            v-model="item.menu1"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="time1"
            transition="scale-transition"
            offset-x
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="item.hora_inicio"
                label="--:-- --"
                prepend-icon="mdi-clock-time-four-outline"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-time-picker
              v-if="item.menu1"
              v-model="item.hora_inicio"
              full-width
              format="ampm"
              ampm-in-title
              @click:minute="$refs.menu1[index].save(item.hora_inicio)"
            ></v-time-picker>
          </v-menu>
        </v-flex>
        <v-flex sm3>
          <v-menu
            ref="menu2"
            v-model="item.menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="time2"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="item.hora_fin"
                label="--:-- --"
                prepend-icon="mdi-clock-time-four-outline"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-time-picker
              v-if="item.menu2"
              v-model="item.hora_fin"
              full-width
              format="ampm"
              ampm-in-title
              :allowed-hours="
                (v) => v >= Number.parseInt(item.hora_inicio.split(':')[0])
              "
              @click:minute="$refs.menu2[index].save(item.hora_fin)"
            ></v-time-picker>
          </v-menu>
        </v-flex>
        <v-flex sm2>
          <v-btn v-if="cronograma.length == index + 1" @click="addHorario()">
            <v-icon> add </v-icon>
          </v-btn>
          <v-btn v-else @click="removeHorario(index)">
            <v-icon> remove </v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-card-actions>
        <div v-if="local_error" class="message">
          Hay conflicto de horario en los siguientes dias: {{ localDiasError }}
        </div>

        <div v-if="global_error" class="message">
          Hay conflicto con los siguientes cursos: {{ cursosError }} 
          En los siguientes dias: {{ globalDiasError }}
        </div>
        <div x-small v-if="universal_error" class="message">
          Hay conflicto con los siguientes dias: {{ universalDiasError }}
        </div>

        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click.native="confirmar"
          >Confirmar</v-btn
        >
        <v-btn color="blue darken-1" flat @click.native="cancelar"
          >Cancelar</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "HorarioDialog",
  data() {
    return {
      localDiasError: "Todos",
      globalDiasError: "Todos",
      universalDiasError: "Todos",
      cursosError: "Todos",
      local_error: false,
      global_error: false,
      universal_error: false,
      cronograma: [
        {
          dia_id: 0,
          hora_inicio: "",
          hora_fin: "",
          menu1: false,
          menu2: false,
        },
      ],
      externalIndex: null,
      dia: null,
      enableDialog: false,
      time1: null,
      time2: null,
      menu1: false,
      menu2: false,
      menuModel1: null,
      menuModel2: null,
      dias: [
        { id: 1, value: "Lunes" },
        { id: 2, value: "Martes" },
        { id: 3, value: "Miercoles" },
        { id: 4, value: "Jueves" },
        { id: 5, value: "Viernes" },
        { id: 6, value: "Sabado" },
        { id: 7, value: "Domingo" },
      ],
      horariosEliminadosTemp: [],
      cursosValidacion: [],
      cursosValidacionValue: [],
      currentPeriodId: null,
      currentIndex: -1,
      currentProfesorId: null,
    };
  },
  methods: {
    async confirmar() {
      /*Validacion*/
      let flag = false;
      this.cronograma.forEach((e) => {
        if (e.dia_id === 0) {
          this.showToast(
            "Por favor, no se olvide de seleccionar un dia para cada horario"
          );
          flag = true;
          return;
        }
        if (e.hora_inicio === "" || e.hora_fin === "") {
          this.showToast("Por favor, no se olvide de seleccionar un horario");
          flag = true;
          return;
        }
      });
      if (flag) return;
      /*Validar con los horarios dentro del curso*/
      if (!this.validateActualSchedules()) return;
      /*Validar con los horararios de otros cursos */
      if (!this.validateActualCourses()) return;

      let sendCronograma = [];
      let validateHorario = {
        profesor_id: this.currentProfesorId,
        periodo_id: this.currentPeriodId,
        horarios: [],
      };

      let edit = false;
      this.cronograma.forEach((e) => {
        let temp_rest = {};
        let temp_val = {};
        if (e.id) {
          edit = true;
          temp_rest.id = e.id;
        }
        if (e.dia_id !== 0) {
          temp_rest.dia_id = temp_val.dia_id = e.dia_id;
          temp_rest.hora_inicio = temp_val.hora_inicio = e.hora_inicio;
          temp_rest.hora_fin = temp_val.hora_fin = e.hora_fin;
          temp_rest.periodo_id = this.currentPeriodId;
          sendCronograma.push(temp_rest);
          validateHorario.horarios.push(temp_val);
        }
      });

      flag = await this.$store
        .dispatch("validateSchedule", validateHorario)
        .then(
          (response) => {
            if (response.status) {
              let body = response.body;
              if (body && body.length > 0) {
                let tempDias = "";
                this.dias.forEach((dia, index) => {
                  let tempDia = body.find((e) => e.dia_id === dia.id);
                  console.log(tempDia);
                  /*  && edit && !sendCronograma.find(e=>e.id===tempDia.id) */
                  if (tempDia) {
                    let str = "";
                    if (Array.isArray(tempDia))
                      str = tempDia.map(
                        (e, i) =>
                          e.hora_inicio +
                          "-" +
                          e.hora_fin +
                          (i !== tempDia.length - 1 ? ", " : ".")
                      );
                    else
                      str = tempDia.hora_inicio + "-" + tempDia.hora_fin + ".";

                    tempDias =
                      tempDias + dia.value + " en las horas: " + str + ". ";
                    this.universal_error = true;
                  }
                });
                this.universalDiasError = tempDias;

                return !this.universal_error;
              }
              return true;
            }
            return false;
          },
          (err) => {
            return false;
          }
        );
      if (!flag) return;

      this.$emit(
        "guardarCronograma",
        sendCronograma,
        this.externalIndex,
        this.horariosEliminadosTemp
      );
      this.enableDialog = false;
    },
    validateActualSchedules() {
      let arrDiasError = [];
      this.dias.forEach((dia, index) => {
        let listDia = [];
        listDia = this.cronograma.filter((crono) => {
          return crono.dia_id == dia.id;
        });
        if (listDia.length > 1) {
          let crono1 = listDia[0];
          let horaIniMin = this.getMin(crono1.hora_inicio);
          let horaFinMin = this.getMin(crono1.hora_fin);
          listDia.forEach((crono, index) => {
            if (index > 0) {
              let horaIniMinLoop = this.getMin(crono.hora_inicio);
              let horaFinMinLoop = this.getMin(crono.hora_fin);

              if (
                (horaIniMinLoop >= horaIniMin && horaIniMinLoop < horaFinMin) ||
                (horaFinMinLoop > horaIniMin && horaFinMinLoop <= horaFinMin)
              ) {
                if (!arrDiasError.find((e) => e.id == crono.dia_id)) {
                  arrDiasError.push(
                    this.dias.find((e) => e.id == crono.dia_id)
                  );
                }
              }
              crono1 = crono;
            }
          });
        }
      });
      if (arrDiasError.length > 0) {
        let strError = "";
        arrDiasError.sort((a, b) => a.id <= b.id);
        arrDiasError.forEach((e, i) => {
          if (i < arrDiasError.length - 1)
            strError = strError.concat(e.value).concat(", ");
          else strError = strError.concat(e.value).concat(".");
        });
        this.localDiasError = strError;
        this.local_error = true;
        return false;
      }
      return true;
    },
    validateActualCourses() {
      let arrDiasError = [];
      let courseError = [];
      if (this.cursosValidacion.length > 1)
        this.cursosValidacion.forEach((course, index) => {
          if (course.horarios && index != this.currentIndex) {
            this.cronograma.forEach((crono, index) => {
              let horaIniMin = this.getMin(crono.hora_inicio);
              let horaFinMin = this.getMin(crono.hora_fin);
              let horarios = [];
              let courseFound = course.horarios.find(
                (e) => e.dia_id === crono.dia_id
              );
              if (courseFound) horarios.push(courseFound);
              horarios.forEach((e) => {
                console.log(e);
                let horaIniMinLoop = this.getMin(e.hora_inicio);
                let horaFinMinLoop = this.getMin(e.hora_fin);
                if (
                  (horaIniMinLoop >= horaIniMin &&
                    horaIniMinLoop < horaFinMin) ||
                  (horaFinMinLoop > horaIniMin && horaFinMinLoop <= horaFinMin)
                ) {
                  if (!arrDiasError.find((e) => e.id == crono.dia_id)) {
                    arrDiasError.push(
                      this.dias.find((e) => e.id == crono.dia_id)
                    );
                  }
                  if (course.curso_id) {
                    if (!courseError.find((e) => e.id == course.curso_id)) {
                      courseError.push(
                        this.cursosValidacionValue.find(
                          (e) => e.id == course.curso_id
                        )
                      );
                    }
                  }
                }
              });
            });
          }
        });
      if (arrDiasError.length > 0) {
        let strError = "";
        arrDiasError.sort((a, b) => a.id <= b.id);
        arrDiasError.forEach((e, i) => {
          if (i < arrDiasError.length - 1)
            strError = strError.concat(e.value).concat(", ");
          else strError = strError.concat(e.value).concat(".");
        });
        this.localDiasError = strError;
        let strCourses = "";
        courseError.forEach((e, i) => {
          if (i < arrDiasError.length - 1)
            strCourses = strCourses.concat(e.nombre).concat(", ");
          else strCourses = strCourses.concat(e.nombre).concat(".");
        });
        this.global_error = true;
        this.cursosError = strCourses;
        this.globalDiasError = strError;
        return false;
      }
      return true;
    },
    getMin(hora) {
      return (
        Number.parseInt(hora.split(":")[0]) * 60 +
        Number.parseInt(hora.split(":")[1])
      );
    },
    cancelar() {
      this.enableDialog = false;
    },
    enable(value) {
      this.enableDialog = value;
    },
    addHorario() {
      this.cronograma.push({
        dia_id: 0,
        hora_inicio: "",
        hora_fin: "",
        menu1: false,
        menu2: false,
      });
    },
    setModifiedHorario(externalCronograma) {
      if (externalCronograma.length > 0) this.cronograma = [];
      externalCronograma.forEach((e) => {
        let temp = {};
        if (e.id) temp.id = e.id;
        temp.dia_id = e.dia_id;
        temp.hora_inicio = e.hora_inicio;
        temp.hora_fin = e.hora_fin;
        temp.menu1 = false;
        temp.menu2 = false;
        this.cronograma.push(temp);
      });
    },
    cleanHorario() {
      this.cronograma = [
        {
          dia_id: 0,
          hora_inicio: "",
          hora_fin: "",
          menu1: false,
          menu2: false,
        },
      ];
      this.horariosEliminadosTemp = [];
    },
    setExternalIndex(index) {
      this.externalIndex = index;
    },
    setCurrentCoursesValidation(
      courses,
      index,
      coursesValidacionAll,
      periodoId
    ) {
      this.cursosValidacion = courses;
      this.currentIndex = index;
      this.cursosValidacionValue = coursesValidacionAll;
      this.localDiasError = "Todos";
      this.globalDiasError = "Todos";
      this.cursosError = "Todos";
      this.local_error = false;
      this.global_error = false;
      console.log("Periodo ID:", periodoId);
      this.currentPeriodId = periodoId;
      this.currentProfesorId = courses[index].profesor_id;
    },
    removeHorario(index) {
      if (this.cronograma[index].id) {
        this.horariosEliminadosTemp.push({
          id: this.cronograma[index].id,
          dia_id: this.cronograma[index].dia_id,
          hora_inicio: this.cronograma[index].hora_inicio,
          hora_fin: this.cronograma[index].hora_fin,
        });
      }
      if (this.cronograma.length > 1) {
        this.cronograma.splice(index, 1);
      }
    },
    showToast(message) {
      this.$toast.error(message, {
        position: "top-center",
        duration: 3000,
      });
    },
  },
};
</script>

<style>
.message {
  widows: 70% !important;
  word-wrap: break-word;
  color: red;
}
</style>