<template>
  <div>
    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>Alumnos</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <v-data-table :headers="headers" :items="records" hide-actions>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.id }}</td>
              <td class="text-xs-left">
                {{ props.item.alumno.apellido_paterno }}
                {{ props.item.alumno.apellido_materno }}
                {{ props.item.alumno.nombre }}
              </td>
              <td class="text-xs-left">{{ props.item.alumno.celular}}</td>
              <td class="text-xs-left">{{ props.item.alumno.correo }}</td>
            </template>
          </v-data-table>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  components: {},
  async mounted() {
    this.records = await this.$store.dispatch(
      "getParticipantesFromStudent",
      this.user.id
    );
  },
  data() {
    return {
      records: [],
      user: JSON.parse(localStorage.getItem("usuario")),
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Apellidos/Nombres", value: "status", sortable: false },
        { text: "Celular", value: "anio" },
        { text: "Correos", value: "periodo", sortable: false }
      ]
    };
  },
  computed: {},

  methods: {}
};
</script>
