<template>
  <div>
    <v-card>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4>Periodos registrados</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div>
          <div>
            <!-- btn1  -->
            <v-dialog v-model="dialogCambiar" max-width="400px" scrollable>
              <v-btn color="base-secondary" dark slot="activator"
                >Cambiar actual</v-btn
              >
              <v-card>
                <v-card-title>
                  <span class="headline">Cambiar el periodo actual</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <v-flex xs12 sm6>
                    <v-select
                      v-model="actual"
                      label="Seleccionar Periodo"
                      required
                      item-text="nombre"
                      return-object
                      :items="anios"
                    ></v-select>
                  </v-flex>
                  <v-flex v-if="actual != null" xs12 sm6>
                    <v-select
                      v-model="actualSecuencia"
                      label="Seleccionar Secuencia"
                      required
                      item-text="secuencia"
                      item-value="id"
                      :items="actual.subperiodos"
                    ></v-select>
                  </v-flex>
                  <span>
                    Nota: Los alumnos solamente podran ver el contenido del
                    nuevo periodo
                  </span>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    :disabled="actualSecuencia == null"
                    color="blue darken-1"
                    flat
                    @click.native="cambiarAnio"
                    >Confirmar</v-btn
                  >
                  <v-btn
                    color="blue darken-1"
                    flat
                    @click.native="dialogCambiar = false"
                    >Cancelar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- btn2 -->
            <v-btn
              @click.stop="dialogNuevo_Editar = true"
              @click="setNuevoModal"
              color="base-secondary"
              dark
              slot="activator"
              >Agregar nuevo</v-btn
            >
            <v-dialog
              v-if="dialogNuevo_Editar"
              v-model="dialogNuevo_Editar"
              max-width="500px"
            >
              <v-card>
                <v-form ref="form" v-model="valid">
                  <v-card-title>
                    <span class="headline">{{ textNuevo_Editar }} periodo</span>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            v-model="form.nombre"
                            label="Nombre de Periodo"
                            required
                            :rules="textRule"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs11 sm6>
                          <v-menu
                            required
                            :rules="textRule"
                            ref="menu"
                            lazy
                            :close-on-content-click="false"
                            v-model="menu"
                            transition="scale-transition"
                            offset-y
                            full-width
                            :nudge-right="40"
                            min-width="290px"
                            :return-value.sync="form.incio"
                          >
                            <v-text-field
                              slot="activator"
                              label="Fecha de inicio"
                              v-model="form.inicio"
                              prepend-icon="event"
                              readonly
                              required
                              :rules="textRule"
                            ></v-text-field>
                            <v-date-picker
                              v-model="form.inicio"
                              no-title
                              scrollable
                              locale="ES-es"
                            >
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="menu = false"
                                >Cancel</v-btn
                              >
                              <v-btn
                                flat
                                color="base-secondary"
                                @click="$refs.menu.save(form.inicio)"
                                >OK</v-btn
                              >
                            </v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            v-model="form.modalidad"
                            label="Secuencia"
                            hint="Bimestral, Semestral u Otro"
                            required
                            :rules="textRule"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            v-if="textNuevo_Editar != 'Editar'"
                            v-model="form.secuencia"
                            label="Cantidad de secuencias"
                            hint="1, 2, 3, ..."
                            :counter="1"
                            required
                            :rules="secuenciaRule"
                            mask="#"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      v-if="textNuevo_Editar == 'Editar'"
                      color="blue darken-1"
                      flat
                      @click.native="editarPeriodo"
                      >Editar</v-btn
                    >
                    <v-btn
                      v-if="textNuevo_Editar != 'Editar'"
                      color="blue darken-1"
                      flat
                      @click.native="agregarPeriodos"
                      >Agregar</v-btn
                    >
                    <v-btn
                      color="blue darken-1"
                      flat
                      @click.native="dialogNuevo_Editar = false"
                      >Cancelar</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </div>
        </div>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <v-data-table :headers="headers" :items="anios" hide-actions>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.id }}</td>
              <td class="text-xs-left">
                <v-chip
                  v-if="props.item.estado"
                  color="green"
                  text-color="white"
                  >Actual - {{ props.item.sub_activo }}</v-chip
                >
                <v-chip v-else color="red" text-color="white">No Actual</v-chip>
              </td>
              <td class="text-xs-left">{{ props.item.nombre }}</td>
              <td class="text-xs-left">{{ props.item.modalidad }}</td>
              <td class="text-xs-left">{{ props.item.inicio }}</td>
              <td class="text-lg-center">
                <v-btn flat icon color="grey">
                  <v-icon
                    @click.stop="dialogNuevo_Editar = true"
                    @click="fillEditar(props.item)"
                    >edit</v-icon
                  >
                </v-btn>
                <v-btn flat icon color="grey">
                  <v-icon @click="eliminar(props.item.id)">delete</v-icon>
                </v-btn>
              </td>
              <!-- <td class="text-xs-left">{{ props.item.alumnos }}</td>
              <td class="text-xs-left">{{ props.item.profesores }}</td>-->
            </template>
            <template v-slot:no-data>
              <v-alert :value="true" color="info" icon="warning">
                No existen períodos registrados.
              </v-alert>
            </template>
          </v-data-table>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import items from "@/api/periodo";
import VWidget from "@/components/VWidget";
import Swal from "sweetalert2";

export default {
  components: {
    VWidget
  },
  mounted() {
    this.$store.dispatch("getAnios");
    this.initform();
  },
  data() {
    return {
      form: {},
      secuenciaRule: [v => !!v || "Name is required"],
      textRule: [v => !!v || "Campo Obligatorio"],
      firstname: "",
      valid: false,
      menu: false,
      actual: null,
      actualSecuencia: null,
      dialogNuevo_Editar: false,
      textNuevo_Editar: "Agregar un nuevo",
      dialogCambiar: false,
      scrollable: {
        name: "",
        dialog: false
      },
      headers: [
        {
          text: "#",
          align: "left",
          sortable: false,
          value: "id"
        },
        { text: "Actual", value: "status", sortable: false },
        { text: "Período", value: "anio" },
        { text: "Secuencia", value: "periodo", sortable: false },
        { text: "Fecha de inicio", value: "fecha" },
        { text: "Opciones", align: "center" }
      ],
      colors: {
        true: "green",
        false: "red"
      }
    };
  },
  computed: {
    anios() {
      let records = this.$store.getters.getAnios;
      records.forEach(record => {
        console.log(record);
        if (record.estado) {
          console.log("entro");
          for (var i = 0; i < record.subperiodos.length; i++) {
            if (record.subperiodos[i].activo) {
              i++;
              record.sub_activo = i;
              break;
            }
          }
        }
      });
      return records;
    },
    randomColor() {
      let item = Math.floor(Math.random() * this.colors.length);
      return this.colors[item];
    }
  },

  methods: {
    setNuevoModal() {
      this.textNuevo_Editar = "Agregar un nuevo";
      this.form = {};
      console.log(this.form);
    },
    initform() {
      this.form = {};
    },
    fillEditar(item) {
      this.textNuevo_Editar = "Editar";
      this.form = JSON.parse(JSON.stringify(item));
      console.log(this.form);
    },
    async eliminar(id) {
      Swal.fire({
        title: "¿Seguro que desea continuar?",
        showDenyButton: true,
        confirmButtonText: `Si`,
        denyButtonText: `No`
      }).then(async result => {
        if (result.isConfirmed) {
          let response = await this.$store.dispatch("deletePeriodo", id);
          this.anios = this.$store.dispatch("getAnios");
          this.showMessage(response);
        }
      });
    },
    async cambiarAnio() {
      if (!this.actual) return;
      let response = await this.$store.dispatch("actualAnio", {
        periodoId: this.actual.id,
        subperiodoId: this.actualSecuencia
      });
      this.dialogCambiar = false;
      this.showMessage(response);
    },
    async agregarPeriodos() {
      if (this.$refs.form.validate()) {
        this.dialogNuevo_Editar = false;
        let form = this.form;
        let response = await this.$store.dispatch("addAnio", form);
        this.initform();
        this.showMessage(response);
      }
    },
    async editarPeriodo() {
      if (this.$refs.form.validate()) {
        this.dialogNuevo_Editar = false;
        let form = this.form;
        let response = await this.$store.dispatch("editPeriodo", form);
        this.initform();
        this.showMessage(response);
      }
    },
    getColorByStatus(status) {
      if (status) return this.colors["true"];
      else return this.colors["false"];
    },
    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000
          });
    }
  }
};
</script>
<style>
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
