<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4 v-if="accion === 'ver'">Ver administrador</h4>
          <h4 v-else-if="accion === 'editar'">Editar administrador</h4>
          <h4 v-else>Registrar administrador</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-title class="estado-field">
          <v-btn
            v-if="accion !== 'ver'"
            outline
            class="custom-button"
            @click="CambioEstado()"
          >
            Estado: {{ estado }}

            <v-icon right>published_with_changes </v-icon>
          </v-btn>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div v-if="accion === 'ver'">
          <v-btn dark color="base-secondary" @click="cancelar">
            Regresar
          </v-btn>
        </div>
        <div v-else>
          <v-btn
            dark
            v-if="accion === 'editar'"
            color="secondary"
            @click="resetear_password"
            >Restablecer Contraseña</v-btn
          >
          <v-btn dark color="base-secondary" @click="cancelar">
            Cancelar
          </v-btn>
          <v-btn dark color="base-secondary" @click="registrar">
            Confirmar
          </v-btn>
        </div>
      </v-toolbar>
      <v-flex md6 offset-md3>
        <v-card>
          <v-toolbar color="base-secondary" dark flat dense cad>
            <v-toolbar-title class="subheading"
              >Datos del administrador</v-toolbar-title
            >
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text>
            <v-form v-model="valid">
              <v-layout row wrap justify-center>
                <v-flex xs12 align-center>
                  <div v-if="accion === 'ver'" class="imgcontainer">
                    <v-img
                      v-if="imageUrl"
                      :src="imageUrl"
                      class="profile-pic-nohover"
                    />
                  </div>
                  <div v-else class="imgcontainer">
                    <v-img
                      :src="imageUrl"
                      v-if="imageUrl"
                      class="profile-pic"
                    />

                    <div class="middle">
                      <v-btn color="base-secondary" dark @click="pickFile"
                        >Cambiar
                        <v-icon right medium>camera_alt</v-icon>
                      </v-btn>

                      <input
                        type="file"
                        style="display: none"
                        ref="image"
                        accept=".png, .jpg, .jpeg"
                        @change="onFilePicked"
                      />
                    </div>
                  </div>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver' || accion === 'editar'"
                    label="DNI"
                    v-model="formModelProfesor.dni"
                    box
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="DNI"
                    name="DNI"
                    mask="########"
                    v-model="formModelProfesor.dni"
                    v-validate="'required'"
                    data-vv-name="DNI"
                    error-count="1"
                    :error-messages="
                      (errorsBack && errorsBack['json.dni']
                        ? errorsBack['json.dni']
                        : []
                      ).concat(errors.collect('DNI'))
                    "
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Email"
                    v-model="formModelProfesor.correo"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Email"
                    v-model="formModelProfesor.correo"
                    name="email"
                    v-validate="'required|email'"
                    data-vv-name="email"
                    :error-messages="errors.collect('email')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Nombre"
                    v-model="formModelProfesor.nombre"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Nombre"
                    name="Nombre"
                    v-model="formModelProfesor.nombre"
                    v-validate="'required'"
                    data-vv-name="Nombre"
                    :error-messages="errors.collect('Nombre')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Apellido Paterno"
                    v-model="formModelProfesor.apellido_paterno"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Apellido Paterno"
                    name="appaterno"
                    v-model="formModelProfesor.apellido_paterno"
                    v-validate="'required'"
                    data-vv-name="Apellido Paterno"
                    :error-messages="errors.collect('Apellido Paterno')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Apellido Materno"
                    v-model="formModelProfesor.apellido_materno"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Apellido Materno"
                    name="apmaterno"
                    v-model="formModelProfesor.apellido_materno"
                    v-validate="'required'"
                    data-vv-name="Apellido Materno"
                    :error-messages="errors.collect('Apellido Materno')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Dirección"
                    v-model="formModelProfesor.direccion"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Dirección"
                    name="Direccion"
                    v-model="formModelProfesor.direccion"
                    v-validate="'required'"
                    data-vv-name="Direccion"
                    :error-messages="errors.collect('Direccion')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <div v-if="accion === 'ver'">
                    <v-text-field
                      label="Fecha de nacimiento"
                      v-model="formModelProfesor.fecha_nacimiento"
                      readonly
                      box
                    ></v-text-field>
                  </div>
                  <div v-else>
                    <v-text-field
                      label="Fecha de nacimiento"
                      name="Fecha de nacimiento"
                      v-model="formModelProfesor.fecha_nacimiento"
                      v-validate="'required|date_format:dd/MM/yyyy'"
                      data-vv-name="Fecha de nacimiento"
                      :error-messages="errors.collect('Fecha de nacimiento')"
                      mask="##/##/####"
                      return-masked-value
                      required
                      clearable
                    ></v-text-field>
                  </div>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Teléfono"
                    v-model="formModelProfesor.telefono"
                    readonly
                    mask="(##) #######"
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Teléfono"
                    v-validate="'required'"
                    data-vv-name="Teléfono"
                    :error-messages="errors.collect('Teléfono')"
                    v-model="formModelProfesor.telefono"
                    mask="(##) #######"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Celular"
                    v-model="formModelProfesor.celular"
                    readonly
                    mask="###-###-###"
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Celular"
                    v-validate="'required'"
                    data-vv-name="Celular (opcional)"
                    :error-messages="errors.collect('Celular')"
                    v-model="formModelProfesor.celular"
                    mask="###-###-###"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Countries from "@/api/country";
import { EstadoProfesor } from "@/api/estado";
import Swal from "sweetalert2";

export default {
  props: ["accion", "usuarioId", "perfil"],

  $_veeValidate: {
    validator: "new",
  },
  data: () => ({
    estado: "",
    formModelProfesor: {},
    startDateMenu: false,
    startDate: null,
    valid: true,
    title: "Image Upload",
    dialog: false,
    imageName: "",
    imageUrl: require("@/assets/default-profile-icon.jpg"), //url usada para visualizar la img
    imageFile: "", //archivo enviado hacia el back
    errorsBack: [],
    previousPage: "/admin/administradores/lista",
    maxImgSize: 5,
    indiceEstado: 0,
  }),
  mounted() {
    this.$validator.localize("es", this.dictionary);
    if (this.accion === "ver" || this.accion === "editar") {
      this.getProfesor(this.usuarioId);
      console.log(this.formModelProfesor);
    }
    if (this.imageUrl && this.accion !== "ver" && this.accion !== "editar") {
      this.getImageFileFromUrl();
    }
    this.CambioEstado();

    //Si en caso soy un usuario administrador
    var tipoUsuario = this.$store.getters.getUsuario.tipo_usuario.nombre;
    if (this.perfil && tipoUsuario == "ADMINISTRADOR") {
      this.txtHeader = "Mi Perfil";
      this.previousPage = "/";
    }
  },
  created() {
    console.log(`form del administrador ${this.accion}`);
  },

  computed: {},

  methods: {
    async getImageFileFromUrl() {
      const response = await fetch(this.imageUrl);
      // here image is url/location of image
      const blob = await response.blob();
      const testfile = new File([blob], "profileImg.jpg", {
        type: blob.type,
      });
      this.imageFile = testfile;
    },

    async getProfesor(id) {
      let response = await this.$store.dispatch("getOneUsuario", id);
      if (response.status) {
        this.formModelProfesor = response.body;
        this.formModelProfesor.fecha_nacimiento = this.FormatDate(
          this.formModelProfesor.fecha_nacimiento
        );
        if (this.formModelProfesor.imagen) {
          var backServer = this.$config.baseUrl.slice(0, -4);
          var d = [backServer, this.formModelProfesor.imagen].join("/");
          //console.log("ruta de img:" + d);
          this.imageUrl = d;
        }
      }
    },

    FormatDate(date) {
      var d = new Date(date),
        dformat = [
          (d.getDate() > 9 ? "" : "0").concat(d.getDate()),
          (d.getMonth() + 1 > 9 ? "" : "0").concat(d.getMonth() + 1),
          d.getFullYear(),
        ].join("/");
      return dformat;
    },

    CambioEstado() {
      this.indiceEstado++;
      if (this.indiceEstado >= EstadoProfesor.length) this.indiceEstado = 1;
      this.estado = EstadoProfesor[this.indiceEstado].valor;
    },
    registrar() {
      this.errorsBack = [];
      this.$validator.validateAll().then(async (status) => {
        if (status) {
          console.log(this.formModelProfesor.fecha_nacimiento);
          if (this.imageFile !== "") {
            this.formModelProfesor.imageBlob = this.imageFile;
          } else {
            this.formModelProfesor.imageBlob = null;
          }
          this.formModelProfesor.estado_id = EstadoProfesor.find((e) => {
            return e.valor == this.estado;
          }).id;

          let response;
          console.log(this.formModelProfesor);
          console.log("id: " + this.$route.params.id);
          if (this.$route.params.id) {
            response = await this.$store.dispatch(
              "editAdmin",
              this.formModelProfesor
            );
          } else {
            response = await this.$store
              .dispatch("addAdmin", this.formModelProfesor)
              .then((res) => {
                return res;
              })
              .catch((err) => {
                this.errorsBack = err.response.data.errors;
                console.log(this.errorsBack);
                return err;
              });

            console.log(response);
          }

          if (this.errorsBack && this.errorsBack.length == 0) {
            this.$router.push(this.previousPage);
          }
        }
      });
    },

    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },

    resetear_password() {
      Swal.fire({
        title: "¿Restablecer la contraseña?",
        text: "Se enviará un correo al usuario con la nueva contraseña.",
        showDenyButton: true,
        icon: "warning",
        confirmButtonText: `Si`,
        denyButtonText: `No`,
      }).then(async (result) => {
        if (result.isConfirmed) {
          let response = await this.$store.dispatch("resetPassword", {
            id: this.usuarioId,
          });
          this.showMessage(response);
          this.cancelar();
        }
      });
    },

    clear() {
      this.formModelProfesor = {};
      this.$validator.reset();
    },
    cancelar() {
      this.$store.dispatch("getAdministradores");
      this.$router.push(this.previousPage);
    },
    pickFile() {
      this.$refs.image.click();
    },

    clearImagePick() {
      this.imageName = "";
      this.imageFile = "";
      this.imageUrl = "";
      this.errorsBack["img"] = "";
    },

    dataURLtoFile(dataurl, filename) {
      var arr = dataurl.split(","),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n);
      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }
      return new File([u8arr], filename, { type: mime });
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.errorsBack["img"] = "";
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const imgSize = Math.round(files[0].size / (1024 * 1024));
        if (imgSize >= this.maxImgSize) {
          var msgError = "La imagen supera el tamaño máximo permitido de "
            .concat(this.maxImgSize)
            .concat(" mb.");
          this.errorsBack["img"] = msgError;
          if (this.accion === "editar") {
            this.$toast.error(msgError, {
              position: "top-center",
              duration: 3000,
            });
          }
          return;
        }

        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0]; // this is an image file that can be sent to server...
        });
      } else {
        this.clearImagePick();
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.custom-button {
  cursor: pointer;
}

.imgcontainer {
  position: relative;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.estado-field {
  width: 260px;
}

.profile-pic-nohover {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.profile-pic {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imgcontainer:hover .profile-pic {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.base-color {
  background-color: var(--primary-color) !important;
}

.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
