<template>
  <v-container grid-list-xl fluid>
    <v-layout row wrap>
      <v-toolbar card dense color="transparent">
        <v-toolbar-title>
          <h4 v-if="accion === 'ver'">{{ txtHeader }}</h4>
          <h4 v-else-if="accion === 'editar'">Editar alumno</h4>
          <h4 v-else>Registrar alumno</h4>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-title>
          <v-btn
            v-if="accion !== 'ver'"
            outline
            class="custom-button"
            @click="CambioEstado()"
          >
            Estado: {{ estado }}

            <v-icon right>published_with_changes </v-icon>
          </v-btn>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <div v-if="accion === 'ver'">
          <v-btn color="primary" @click="cancelar"> Regresar </v-btn>
        </div>

        <div v-else>
          <v-btn
            v-if="accion === 'editar'"
            color="secondary"
            @click="resetear_password"
            >Restablecer Contraseña</v-btn
          >
          <v-btn color="primary" @click="cancelar"> Cancelar </v-btn>
          <v-btn color="base-secondary" dark @click="registrar">
            Confirmar
          </v-btn>
        </div>
      </v-toolbar>
      <v-flex :lg6="!perfil" :xs8="perfil" :offset-xs2="perfil">
        <v-card>
          <v-toolbar color="base-color" dark flat dense cad>
            <v-toolbar-title class="subheading"
              >Datos del alumno</v-toolbar-title
            >
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text>
            <v-form v-model="valid">
              <v-layout row wrap justify-center>
                <v-flex xs12 align-center>
                  <div v-if="accion === 'ver'" class="imgcontainer">
                    <v-img
                      v-if="imageUrl"
                      :src="imageUrl"
                      class="profile-pic-nohover"
                    />
                  </div>
                  <div v-else class="imgcontainer">
                    <v-img
                      :src="imageUrl"
                      v-if="imageUrl"
                      class="profile-pic"
                    />

                    <div class="middle">
                      <v-btn color="base-secondary" dark @click="pickFile"
                        >Cambiar
                        <v-icon right medium>camera_alt</v-icon>
                      </v-btn>

                      <input
                        type="file"
                        style="display: none"
                        ref="image"
                        accept=".png, .jpg, .jpeg"
                        @change="onFilePicked"
                      />
                    </div>
                  </div>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="DNI"
                    v-model="formModelAlumno.dni"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else-if="accion === 'editar'"
                    label="DNI"
                    v-model="formModelAlumno.dni"
                    box
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="DNI"
                    name="DNI"
                    mask="########"
                    v-model="formModelAlumno.dni"
                    v-validate="'required'"
                    data-vv-name="DNI"
                    error-count="1"
                    :error-messages="
                      (errorsBack['json.dni']
                        ? errorsBack['json.dni']
                        : []
                      ).concat(errors.collect('DNI'))
                    "
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Email"
                    v-model="formModelAlumno.correo"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Email"
                    v-model="formModelAlumno.correo"
                    name="email"
                    v-validate="'required|email'"
                    data-vv-name="email"
                    :error-messages="errors.collect('email')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Nombre"
                    v-model="formModelAlumno.nombre"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Nombre"
                    name="Nombre"
                    v-model="formModelAlumno.nombre"
                    v-validate="'required'"
                    data-vv-name="Nombre"
                    :error-messages="errors.collect('Nombre')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Apellido Paterno"
                    v-model="formModelAlumno.apellido_paterno"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Apellido Paterno"
                    name="appaterno"
                    v-model="formModelAlumno.apellido_paterno"
                    v-validate="'required'"
                    data-vv-name="Apellido Paterno"
                    :error-messages="errors.collect('Apellido Paterno')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Apellido Materno"
                    v-model="formModelAlumno.apellido_materno"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Apellido Materno"
                    name="apmaterno"
                    v-model="formModelAlumno.apellido_materno"
                    v-validate="'required'"
                    data-vv-name="Apellido Materno"
                    :error-messages="errors.collect('Apellido Materno')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Dirección"
                    v-model="formModelAlumno.direccion"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Dirección"
                    name="Dirección"
                    v-model="formModelAlumno.direccion"
                    v-validate="'required'"
                    data-vv-name="Direccion"
                    :error-messages="errors.collect('Direccion')"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <div v-if="accion === 'ver'">
                    <v-text-field
                      label="Fecha de nacimiento"
                      v-model="formModelAlumno.fecha_nacimiento"
                      readonly
                      box
                    ></v-text-field>
                  </div>
                  <div v-else>
                    <v-text-field
                      label="Fecha de nacimiento"
                      name="Fecha de nacimiento"
                      v-model="formModelAlumno.fecha_nacimiento"
                      v-validate="'required|date_format:dd/MM/yyyy'"
                      data-vv-name="Fecha de nacimiento"
                      :error-messages="errors.collect('Fecha de nacimiento')"
                      mask="##/##/####"
                      return-masked-value
                      required
                      clearable
                    ></v-text-field>
                  </div>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Celular"
                    v-model="formModelAlumno.celular"
                    readonly
                    mask="###-###-###"
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Celular (opcional)"
                    v-model="formModelAlumno.celular"
                    mask="###-###-###"
                  ></v-text-field>
                </v-flex>
                <div class="form-btn" hidden>
                  <v-btn outline dark @click="submit" color="base-secondary"
                    >Submit</v-btn
                  >
                </div>
              </v-layout>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex lg6 class="pl-6" v-if="!perfil">
        <v-card>
          <v-toolbar color="base-color" dark flat dense cad>
            <v-toolbar-title class="subheading"
              >Datos del apoderado</v-toolbar-title
            >
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text>
            <v-form v-model="valid">
              <v-layout row wrap>
                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver' || accion === 'editar'"
                    label="DNI"
                    v-model="formModelApoderado.dni"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="DNI"
                    name="dni"
                    v-model="formModelApoderado.dni"
                    v-validate="'required'"
                    data-vv-name="DNI"
                    mask="########"
                    :error-messages="errors.collect('DNI')"
                    required
                    @change="cargarDatosApoderado($event)"
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Nombre"
                    v-model="formModelApoderado.nombre"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Nombre"
                    name="nombre"
                    v-model="formModelApoderado.nombre"
                    v-validate="'required'"
                    data-vv-name="Nombre"
                    :error-messages="errors.collect('Nombre')"
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Apellido paterno"
                    v-model="formModelApoderado.apellido_paterno"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Apellido paterno"
                    name="apellido_paterno"
                    v-model="formModelApoderado.apellido_paterno"
                    v-validate="'required'"
                    data-vv-name="Apellido paterno"
                    :error-messages="errors.collect('Apellido paterno')"
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Apellido materno"
                    v-model="formModelApoderado.apellido_materno"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Apellido materno"
                    name="apellido_materno"
                    v-model="formModelApoderado.apellido_materno"
                    v-validate="'required'"
                    data-vv-name="Apellido materno"
                    :error-messages="errors.collect('Apellido materno')"
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Email"
                    v-model="formModelApoderado.correo"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Email apoderado"
                    name="email"
                    v-validate="'required|email'"
                    data-vv-name="Correo apoderado"
                    :error-messages="errors.collect('Correo apoderado')"
                    v-model="formModelApoderado.correo"
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Telef. fijo"
                    v-model="formModelApoderado.telefono"
                    mask="(##) #######"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Telef. fijo"
                    v-validate="'required'"
                    data-vv-name="Teléfono"
                    :error-messages="errors.collect('Teléfono')"
                    v-model="formModelApoderado.telefono"
                    mask="(##) #######"
                    required
                    clearable
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    v-if="accion === 'ver'"
                    label="Celular"
                    v-model="formModelApoderado.celular"
                    mask="###-###-###"
                    readonly
                    box
                  ></v-text-field>
                  <v-text-field
                    v-else
                    label="Celular"
                    name="Cel apoderado"
                    v-validate="'required'"
                    data-vv-name="Celular"
                    :error-messages="errors.collect('Celular')"
                    v-model="formModelApoderado.celular"
                    mask="###-###-###"
                    required
                  ></v-text-field>
                </v-flex>

                <div class="form-btn" hidden>
                  <v-btn outline @click="submit" dark color="base-secondary"
                    >Submit</v-btn
                  >
                  <v-btn outline @click="clear">Clear</v-btn>
                </div>
              </v-layout>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { EstadosEdicionAlumno } from "@/api/estado";
import { EstadosRegistroAlumno } from "@/api/estado";
import Swal from "sweetalert2";

export default {
  props: ["accion", "alumnoId", "perfil"],

  $_veeValidate: {
    validator: "new",
  },
  created() {},
  computed: {},

  data: () => ({
    estado: "",
    estados_validos: [],
    formModelAlumno: {},
    formModelApoderado: {},
    startDateMenu: false,
    startDate: null,
    valid: true,
    title: "Image Upload",
    dialog: false,
    imageName: "",
    imageUrl: require("@/assets/default-profile-icon.jpg"), //url usada para visualizar la img
    imageFile: "", //archivo enviado hacia el back
    errorsBack: [],
    previousPage: "/admin/alumnos/lista",
    maxImgSize: 5,
    indiceEstado: 0,
    txtHeader: "Ver alumno",
  }),
  mounted() {
    this.$validator.localize("es", this.dictionary);
    if (this.accion === "ver" || this.accion === "editar") {
      this.getAlumno(this.alumnoId);
    }
    if (this.imageUrl && this.accion !== "ver" && this.accion !== "editar") {
      this.getImageFileFromUrl();
    }

    //Para uso en el perfil: si la ventana fue cargada por el usuario alumno
    var tipoUsuario = this.$store.getters.getUsuario.tipo_usuario.nombre;
    if (tipoUsuario == "ALUMNO") {
      this.txtHeader = "Mi Perfil";
      this.previousPage = "/";
    }

    //Para el registro de alumno el estado solo podrá ser nuevo
    if (this.accion !== "ver" && this.accion !== "editar") {
      this.estados_validos = EstadosRegistroAlumno;
      this.estado = this.estados_validos[0].valor;
    } else {
      this.estados_validos = EstadosEdicionAlumno;
    }
    console.log("#estados validos:" + this.estados_validos.length);
  },
  methods: {
    async getAlumno(id) {
      let response = await this.$store.dispatch("getOneUsuario", id);
      if (response.status) {
        this.formModelAlumno = response.body;
        this.formModelAlumno.fecha_nacimiento = this.FormatDate(
          this.formModelAlumno.fecha_nacimiento
        );
        this.startDate = this.formModelAlumno.fecha_nacimiento;
        this.formModelApoderado = this.formModelAlumno.apoderado;
        this.estado = this.formModelAlumno.estado.valor;
        if (this.formModelAlumno.imagen) {
          var backServer = this.$config.baseUrl.slice(0, -4);
          var d = [backServer, this.formModelAlumno.imagen].join("/");
          //console.log("ruta de img:" + d);
          this.imageUrl = d;
        }
      }
    },

    async getImageFileFromUrl() {
      const response = await fetch(this.imageUrl);
      // here image is url/location of image
      const blob = await response.blob();
      const testfile = new File([blob], "defaultProfile.jpg", {
        type: blob.type,
      });
      this.imageFile = testfile;
    },
    FormatDate(date) {
      var d = new Date(date),
        dformat = [
          (d.getDate() > 9 ? "" : "0").concat(d.getDate()),
          (d.getMonth() + 1 > 9 ? "" : "0").concat(d.getMonth() + 1),
          d.getFullYear(),
        ].join("/");
      return dformat;
    },

    clearImagePick() {
      this.imageName = "";
      this.imageFile = "";
      this.imageUrl = "";
      this.errorsBack["img"] = "";
    },

    submit() {
      this.$validator.validateAll();
    },
    clear() {
      this.formModel = {};
      this.$validator.reset();
    },
    CambioEstado() {
      if (this.estado == "NUEVO") {
        console.log(
          "No puede modificarse el estado de un alumno NUEVO a través de esta pantalla."
        );
        return;
      }

      this.indiceEstado++;
      if (this.indiceEstado >= this.estados_validos.length)
        this.indiceEstado = 0;
      this.estado = this.estados_validos[this.indiceEstado].valor;
    },

    showMessage(response) {
      response.status
        ? this.$toast.success(response.message, {
            position: "top-center",
            duration: 3000,
          })
        : this.$toast.error(response.message, {
            position: "top-center",
            duration: 3000,
          });
    },

    resetear_password() {
      Swal.fire({
        title: "¿Restablecer la contraseña?",
        text: "Se enviará un correo al usuario con la nueva contraseña.",
        showDenyButton: true,
        icon: "warning",
        confirmButtonText: `Si`,
        denyButtonText: `No`,
      }).then(async (result) => {
        if (result.isConfirmed) {
          let response = await this.$store.dispatch("resetPassword", {
            id: this.alumnoId,
          });
          this.showMessage(response);
          this.cancelar();
        }
      });
    },
    registrar() {
      this.errorsBack = [];
      this.$validator.validateAll().then(async (status) => {
        if (status) {
          this.formModelAlumno.apoderado = this.formModelApoderado;
          this.formModelAlumno.tipo_usuario_id = 1;
          if (this.imageFile !== "") {
            this.formModelAlumno.imageBlob = this.imageFile;
          } else {
            this.formModelAlumno.imageBlob = null;
          }

          if (this.estado != "NUEVO") {
            this.formModelAlumno.estado_id = this.estados_validos.find((e) => {
              return e.valor == this.estado;
            }).id;
          } else {
            this.formModelAlumno.estado_id = this.estados_validos[0].id;
          }

          this.formModelAlumno.celular == null
            ? ""
            : this.formModelAlumno.celular;
          let response;
          console.log(this.formModelAlumno);
          if (this.$route.params.id) {
            response = await this.$store.dispatch(
              "editAlumno",
              this.formModelAlumno
            );
          } else {
            response = await this.$store
              .dispatch("addAlumno", this.formModelAlumno)
              .then((res) => {
                return res;
              })
              .catch((err) => {
                this.errorsBack = err.response.data.errors;
                console.log(this.errorsBack);
                return err;
              });
          }

          if (this.errorsBack && this.errorsBack.length == 0) {
            this.$router.push(this.previousPage);
          }
        }
      });
    },
    cancelar() {
      this.$store.dispatch("getAlumnos");
      this.$router.push(this.previousPage);
    },
    pickFile() {
      this.$refs.image.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }

        const imgSize = Math.round(files[0].size / (1024 * 1024));
        if (imgSize >= this.maxImgSize) {
          this.errorsBack[
            "img"
          ] = "La imagen supera el tamaño máximo permitido de "
            .concat(this.maxImgSize)
            .concat(" mb.");
          return;
        }

        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", (e) => {
          this.imageUrl = fr.result;
          this.imageFile = files[0];
        });
      } else {
        this.clearImagePick();
      }
    },

    async cargarDatosApoderado(event) {
      if (this.formModelApoderado && this.formModelApoderado.dni.length == 8) {
        console.log(this.formModelApoderado.dni);
        let response = await this.$store.dispatch(
          "getApoderado",
          this.formModelApoderado.dni
        );
        if (response) {
          this.formModelApoderado = response;
        }
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.custom-button {
  width: 260px;
}

.imgcontainer {
  position: relative;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic-nohover {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.profile-pic {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imgcontainer:hover .profile-pic {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.base-color {
  background-color: var(--primary-color) !important;
}

.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
