<template>
  <div>
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-toolbar card dense color="transparent">
          <v-toolbar-title>
            <h4 v-if="accion == 'editar'">Edición de aula</h4>
            <h4 v-else>Registrar nueva aula</h4>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <div>
            <AlumnosDialog
              @guardarAlumnos="guardarNuevos"
              ref="alumnosDialog"
            />
            <HorarioDialog
              @guardarCronograma="guardarHorario"
              ref="horarioDialog"
            />
          </div>
          <v-toolbar-title> </v-toolbar-title>
        </v-toolbar>
        <v-flex sm12>
          <v-card>
            <v-toolbar color="base-color" dark flat dense cad>
              <v-toolbar-title class="subheading"
                >Datos de la seccion</v-toolbar-title
              >
              <v-spacer></v-spacer>
            </v-toolbar>

            <v-divider></v-divider>
            <v-card-text>
              <v-form v-model="valid">
                <v-layout row wrap>
                  <v-flex sm12>
                    <h4>Ingresa los datos de la seccion:</h4>
                  </v-flex>
                  <v-flex sm4>
                    <v-select
                      v-model="formAula.grado_id"
                      label="Grado"
                      required
                      item-text="valor"
                      item-value="id"
                      :items="grados"
                      v-validate="'required'"
                      data-vv-name="grado"
                      :error-messages="errors.collect('grado')"
                      clearable
                    ></v-select>
                  </v-flex>
                  <v-flex sm4>
                    <v-text-field
                      v-model="formAula.seccion"
                      label="Nombre"
                      required
                      :rules="textRule"
                      v-validate="'required'"
                      data-vv-name="seccion"
                      :error-messages="errors.collect('seccion')"
                      clearable
                    ></v-text-field>
                  </v-flex>
                  <v-flex sm4>
                    <v-select
                      v-model="formAula.nivel_id"
                      label="Nivel"
                      required
                      item-text="nombre"
                      item-value="id"
                      :items="niveles"
                      v-validate="'required'"
                      data-vv-name="nivel"
                      :error-messages="errors.collect('nivel')"
                      clearable
                    ></v-select>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex sm12>
          <v-stepper v-model="step">
            <v-stepper-header>
              <v-stepper-step color="base-color" step="1" :complete="step > 1">
                Alumnos de la Seccion
              </v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step color="base-color" step="2">
                Cursos de la Seccion</v-stepper-step
              >
            </v-stepper-header>
            <v-stepper-items>
              <v-stepper-content step="1">
                <v-toolbar card dense color="transparent">
                  <v-btn color="base-secondary" dark @click="buscarAlumno">
                    Buscar Alumno
                    <v-icon>search</v-icon>
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-data-table
                  :headers="headers"
                  :items="alumnos"
                  :rows-per-page-items="[
                    10,
                    25,
                    50,
                    { text: 'Todos', value: -1 },
                  ]"
                  rows-per-page-text="Filas por página"
                  class="elevation-0"
                >
                  <template slot="items" slot-scope="props">
                    <td>
                      {{
                        props.item.nombre +
                        " " +
                        props.item.apellido_paterno +
                        " " +
                        props.item.apellido_materno
                      }}
                    </td>
                    <td class="text-xs-left">{{ props.item.dni }}</td>
                    <td class="text-xs-left">
                      {{ getEdad(props.item.fecha_nacimiento) }}
                    </td>
                    <td class="text-xs-left">
                      {{ FormatDate(props.item.fecha_nacimiento) }}
                    </td>
                    <td class="text-xs-left">
                      <v-btn flat icon color="grey">
                        <v-icon @click="eliminarAlumno(props.item, props.index)"
                          >delete</v-icon
                        >
                      </v-btn>
                    </td>
                  </template>
                  <template v-slot:no-results>
                    <v-alert :value="true" color="error" icon="warning">
                      Tu búsqueda no generó resultados.
                    </v-alert>
                  </template>

                  <template v-slot:no-data>
                    <v-alert :value="true" color="info" icon="warning">
                      No existen alumnos registrados.
                    </v-alert>
                  </template>
                </v-data-table>
                <v-btn color="primary" @click.native="step = 2"
                  >Continuar</v-btn
                >
              </v-stepper-content>
              <v-stepper-content step="2">
                <v-layout wrap>
                  <!-- <v-flex sm12>
                    <h4>Ingresa los datos de la seccion:</h4>
                  </v-flex> -->
                  <v-flex sm4>
                    <h3>Curso</h3>
                  </v-flex>
                  <v-flex sm4>
                    <h3>Profesor</h3>
                  </v-flex>
                  <v-flex sm2>
                    <h3>Horario</h3>
                  </v-flex>
                </v-layout>
                <v-layout
                  wrap
                  v-bind:key="index"
                  v-for="(item, index) of cursos"
                >
                  <v-flex sm4>
                    <v-select
                      v-model="item.curso_id"
                      label="Nombre del Curso"
                      required
                      item-text="nombre"
                      item-value="id"
                      :items="cursosActivos"
                    ></v-select>
                  </v-flex>
                  <v-flex sm4>
                    <v-select
                      v-model="item.profesor_id"
                      label="Profesor(es)"
                      required
                      :item-text="
                        (item) => item.nombre + ' ' + item.apellido_paterno
                      "
                      item-value="id"
                      :items="profesoresActivos"
                    ></v-select>
                  </v-flex>
                  <v-flex sm1>
                    <v-btn @click="agregarHorario(index)">
                      <v-icon> calendar_today </v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex sm1>
                    <v-btn v-if="index + 1 == cursos.length" @click="addRow">
                      <v-icon> add </v-icon>
                    </v-btn>
                    <v-btn v-else @click="removeRow(index)">
                      <v-icon> remove </v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
                <v-alert v-model="alert" type="error">
                  {{ alert_text }}
                </v-alert>
                <v-btn color="primary" @click.native="step = 1">Regresar</v-btn>
                <v-btn color="primary" @click.native="finalizar"
                  >Finalizar</v-btn
                >
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import VWidget from "@/components/VWidget";
/* 'periodo_id','grado_id','seccion','nivel_id' */
export default {
  layout: "dashboard",
  props: {
    accion: String,
    aulaId: String,
  },
  $_veeValidate: {
    validator: "new",
  },
  components: {
    VWidget,
  },
  data() {
    return {
      alert: false,
      alert_text: "",
      grados: [],
      cursosActivos: [],
      cursos: [
        {
          curso_id: 0,
          profesor_id: 0,
          horarios: null,
        },
      ],
      cursosTemp: [],
      formAula: {},
      curso: "",
      profesoresActivos: [],
      alumnoNivel: "",
      textRule: [],
      nombre: "",
      alumnos: [],
      valid: true,
      niveles: [],
      step: 1,
      e13: 1,
      headers: [
        { text: "ALUMNO", value: "status" },
        { text: "DNI", value: "anio" },
        { text: "EDAD", value: "periodo" },
        { text: "FECHA DE NACIMIENTO", value: "fecha" },
        { text: "ELIMINAR", value: "fecha" },
      ],
      lastIndex: 1,
      listaEliminadosAlumnos: [],
      listaEliminadosCursos: {
        cursos: [],
        horarios: [],
      },
    };
  },
  computed: {},
  methods: {
    continuar() {},
    finalizar() {
      if (!this.formAula.periodo_id || this.formAula.periodo_id === 0) {
        this.showToast("Por favor, seleccione un periodo para el ciclo");
        return;
      }
      console.log(this.$validator);
      this.$validator.validateAll().then(async (status) => {
        let noProfesores = this.cursos.find(
          (e, i) => e.profesor_id === 0 && (i !== 0 || e.curso_id !== 0)
        );
        if (noProfesores && noProfesores.length > 0) {
          await this.$toast.error(
            "Falta seleccionar profesores en algunos cursos",
            {
              position: "top-center",
              duration: 3000,
            }
          );
          return;
        }
        if (status) {
          /**
           *
           * Guardar datos de aula
           *
           */
          this.$store
            .dispatch("addAulaData", this.formAula)
            .then(async (response) => {
              if (response.status) {
                let aulaId;
                if (!this.formAula.id) {
                  this.formAula.id = aulaId = response.body.id;
                } else {
                  aulaId = this.formAula.id;
                }
                let alumnosData = [];
                this.alumnos.forEach((element) => {
                  if (!element.pivot) {
                    alumnosData.push({
                      aula_id: aulaId,
                      alumno_id: element.id,
                    });
                  }
                  /* alumnosData.push(
	                element.pivot
	                  ? element.pivot
	                  : { aula_id: aulaId, alumno_id: element.id }
	              ); */
                });
                let alumnosArray = {};
                alumnosArray.body = alumnosData;
                alumnosArray.removed = this.listaEliminadosAlumnos;

                if (
                  alumnosArray.body.length > 0 ||
                  alumnosArray.removed.length > 0
                ) {
                  await this.$store
                    .dispatch("addAulaAlumnos", alumnosArray)
                    .then((response) => {
                      if (response.status) {
                        return;
                      }
                    });
                }

                if (this.cursos.length > 0 && this.cursos[0].curso_id != 0) {
                  let cursosArray = {};
                  cursosArray.aula_id = aulaId;
                  cursosArray.cursos = this.cursos;
                  /*
                   *
                   *
                   *Gestion de elementos eliminados al momento de modificar
                   *
                   */
                  cursosArray.remove = [];
                  if (this.listaEliminadosCursos.cursos.length > 0)
                    cursosArray.remove = this.listaEliminadosCursos.cursos;
                  cursosArray.cursos.forEach((element) => {
                    element.horarios.forEach((horario) => {
                      if (!horario.id) horario.id = null;
                    });
                    element.remove = [];
                    if (element.id)
                      this.listaEliminadosCursos.horarios.forEach((curso) => {
                        if (curso.id == element.id) {
                          element.remove = curso.horarios;
                        }
                      });
                    else element.id = null;
                    if (!element.aula_curso_profesor_id)
                      element.aula_curso_profesor_id = null;
                  });
                  await this.$store
                    .dispatch("addAulaCursos", cursosArray)
                    .then((response) => {
                      if (response.status) {
                        return;
                      }
                    });
                }
                this.$router.push("/admin/aulas/lista");
              }
            });
        }
      });
    },

    eliminarAlumno(item, index) {
      if (item.pivot) {
        this.listaEliminadosAlumnos.push(
          JSON.parse(JSON.stringify(item.pivot))
        );
      }
      this.alumnos.splice(index, 1);
    },

    FormatDate(date) {
      var d = new Date(date),
        dformat = [
          (d.getDate() > 9 ? "" : "0").concat(d.getDate()),
          (d.getMonth() + 1 > 9 ? "" : "0").concat(d.getMonth() + 1),
          d.getFullYear(),
        ].join("/");
      return dformat;
    },

    getEdad(fecha_nacimiento) {
      var dob = new Date(fecha_nacimiento);
      var diff_ms = Date.now() - dob.getTime();
      var age_dt = new Date(diff_ms);

      return Math.abs(age_dt.getUTCFullYear() - 1970);
    },

    buscarAlumno() {
      this.$refs.alumnosDialog.enable(true);
    },
    agregarHorario(index) {
      if (!this.cursos[index].curso_id || this.cursos[index].curso_id === 0) {
        this.showToast("Por favor, seleccione un curso");
        return;
      }
      if (
        !this.cursos[index].profesor_id ||
        this.cursos[index].profesor_id === 0
      ) {
        this.showToast("Por favor, seleccione un profesor para el curso");
        return;
      }
      if (
        this.cursos[index].horarios != null &&
        this.cursos[index].horarios != undefined
      )
        this.$refs.horarioDialog.setModifiedHorario(
          this.cursos[index].horarios
        );
      else {
        this.$refs.horarioDialog.cleanHorario();
      }
      /**TODO: Validacion de profesor */
      this.$refs.horarioDialog.setExternalIndex(index);
      this.$refs.horarioDialog.setCurrentCoursesValidation(
        this.cursos,
        index,
        this.cursosActivos,
        this.formAula.periodo_id
      );
      this.$refs.horarioDialog.enable(true);
    },
    addRow() {
      let obj = {
        curso_id: 0,
        profesor_id: 0,
        horarios: null,
      };
      this.lastIndex++;
      this.cursos.push(obj);
    },
    removeRow(index) {
      if (this.cursos[index] && this.cursos[index].id) {
        this.listaEliminadosCursos.cursos.push(
          JSON.parse(JSON.stringify(this.cursos[index]))
        );
        /*Colocar a lista de horarios eliminados aquel relacionado al curso*/
        let horarioEliminado = this.listaEliminadosCursos.horarios.find(
          (e) => e.id == this.cursos[index].id
        );
        if (horarioEliminado) {
          let index = this.listaEliminadosCursos.horarios.indexOf(
            horarioEliminado
          );
          this.listaEliminadosCursos.horarios.splice(index, 1);
        }
      }
      if (this.cursos.length > 0) this.cursos.splice(index, 1);
    },

    guardarHorario(cronograma, index, horariosEliminados) {
      this.cursos[index].horarios = cronograma;
      if (horariosEliminados.length > 0 && this.cursos[index].id) {
        /*En caso de solo eliminar horarios de un curso en especifico*/
        let horarioEliminado = this.listaEliminadosCursos.horarios.find(
          (e) => e.id == this.cursos[index].id
        );
        if (horarioEliminado) {
          horarioEliminado.horarios.push(horariosEliminados);
        } else {
          let horarioTemp = {
            id: this.cursos[index].id,
            horarios: horariosEliminados,
          };
          this.listaEliminadosCursos.horarios.push(horarioTemp);
        }
      }
    },
    guardarNuevos(nuevos) {
      if (nuevos.length > 0)
        if (this.alumnos.length > 0)
          nuevos.forEach((element) => {
            let nuevo = this.alumnos.filter((item) => {
              return item.dni == element.dni;
            });
            if (!nuevo || nuevo.length == 0) this.alumnos.push(element);
          });
        else
          nuevos.forEach((element) => {
            this.alumnos.push(element);
          });
    },
    showToast(message) {
      this.$toast.error(message, {
        position: "top-center",
        duration: 3000,
      });
    },
  },
  mounted() {
    this.$validator.localize("es", this.dictionary);
  },
  created() {
    let t = this;
    if (this.aulaId)
      this.$store.dispatch("getAula", this.aulaId).then((response) => {
        if (response.status) {
          let body = response.body;
          /*Metadata*/
          this.formAula.id = body.id;
          this.formAula.nivel_id = body.nivel_id;
          this.formAula.grado_id = body.grado_id;
          this.formAula.seccion = body.seccion;
          /*Alumnos*/
          this.alumnos = body.alumnos;
          /*Profesores Cursos y Horarios*/
          if (body.cursos_aula.length > 0) {
            this.cursos.pop();
          }
          body.cursos_aula.forEach((element) => {
            let curso = {
              id: element.id,
              curso_id: element.curso_id,
              profesor_id: element.profesores[0] ? element.profesores[0].id : 0,
              horarios: null,
              aula_curso_profesor_id: element.profesores[0]
                ? element.profesores[0].pivot
                  ? element.profesores[0].pivot.id
                  : null
                : null,
            };

            let horarios = [];
            element.horarios.forEach((element) => {
              horarios.push({
                id: element.pivot.id,
                dia_id: element.pivot.dia_id,
                hora_inicio: element.pivot.hora_inicio.substring(0, 5),
                hora_fin: element.pivot.hora_fin.substring(0, 5),
              });
            });
            curso.horarios = horarios;
            this.cursos.push(curso);
          });
          return;
        }
      });
    this.$store.dispatch("getCursosActivos").then((response) => {
      if (response.status) {
        t.cursosActivos = response.body;
        return;
      }
    });
    this.$store.dispatch("getProfesoresActivos").then((response) => {
      if (response.status) {
        t.profesoresActivos = response.body;
        return;
      }
    });
    this.$store.dispatch("getNivel").then((response) => {
      if (response.status) {
        t.niveles = response.body;
        return;
      }
    });
    this.$store.dispatch("getGrado").then((response) => {
      if (response.status) {
        t.grados = response.body;
        return;
      }
    });
    this.$store.dispatch("getAniosAula").then((response) => {
      if (response.status) {
        if (response.body.length === 0) {
          t.showToast("No hay periodo registrado");
        }
        response.body.forEach((element) => {
          if (element.estado == 1) {
            t.formAula.periodo_id = element.id;
          }
        });
        if (!t.formAula.periodo_id || t.formAula.periodo_id === 0) {
          t.showToast("Por favor, seleccione un periodo para el ciclo");
        }
        return;
      } else t.showToast("Error al obtener periodo");
    });
  },
};
</script>
<style>
.base-color {
  background-color: var(--primary-color) !important;
}
.base-secondary {
  background-color: var(--secondary-color) !important;
}
</style>
