<template>
  <v-card>
    <v-toolbar color="base-color" dark flat dense cad>
      <v-toolbar-title class="subheading">
        ¡Es hora de actualizar tu contraseña!
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text>
      <v-form v-model="valid">
        <v-layout row wrap justify-left>
          <v-flex xs12>
            <v-text-field
              label="Ingresa tu nueva contraseña"
              name="contraseña"
              v-model="formContrasenha.originalPassword"
              v-validate="'required|min:6|max:30'"
              type="password"
              error-count="1"
              :error-messages="errors.collect('contraseña')"
              required
              clearable
              v-on:keyup.enter="confirmar"
            ></v-text-field>
            <v-text-field
              label="Repetir contraseña"
              name="confirmación"
              v-model="formContrasenha.confirmPassword"
              v-validate="'required|min:6|max:30'"
              type="password"
              :error-messages="errors.collect('confirmación')"
              required
              clearable
              v-on:keyup.enter="confirmar"
            ></v-text-field>
            <v-layout v-if="coincidencia" row wrap justify-center>
              <v-chip color="transparent" text-color="red">
                Las contraseñas no coinciden.
              </v-chip>
            </v-layout>
            <v-layout v-if="error" row wrap justify-center>
              <v-chip color="transparent" text-color="red">
                Hubo un error al cambiar contraseña, intente de nuevo.
              </v-chip>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-center>
          <div class="form-btn">
            <v-btn outline @click="confirmar" color="primary">Confirmar</v-btn>
          </div>
        </v-layout>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["usuarioId"],
  name: "PasswordForm",
  $_veeValidate: {
    validator: "new",
  },
  data: () => ({
    valid: true,
    error: false,
    coincidencia: false,
    formContrasenha: {
      confirmPassword: "",
      originalPassword: "",
    },
    errorsBack: [],
  }),
  methods: {
    confirmar() {
      this.$validator.validateAll().then((status) => {
        if (status) {
          if (
            this.formContrasenha.confirmPassword !=
            this.formContrasenha.originalPassword
          ) {
            this.coincidencia = true;
            return;
          } else {
            this.coincidencia = false;
            let body = {
              id: this.usuarioId,
              password: this.formContrasenha.originalPassword,
            };
            this.$store.dispatch("changePassword", body).then((response) => {
              if (response.status) {
                this.$emit("finalizarCambio", true);
                return;
              } else {
                this.error = true;
              }
            });
          }
        }
      });
    },
  },
};
</script>

<style>
.base-color{
  background-color: var(--primary-color) !important;
}
</style>