<template>
  <v-container grid-list-xl fluid>
    <v-toolbar-items>
      <v-btn flat to="/admin/areas/area"> Volver a áreas </v-btn>
      <!--<v-btn flat to="/"> Competencias y cursos </v-btn>
      <v-btn flat to="/"> Cursos dictados </v-btn>-->
    </v-toolbar-items>

    <div id="pageDetalleArea">
      <v-container grid-list-xl fluid>
        <v-layout row wrap>
          <v-flex lg10 sm12 xs12>
            <detalle-area-table></detalle-area-table>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </v-container>
</template>

<script>
import DetalleAreaTable from "@/components/widgets/list/DetalleAreaTable";

export default {
  layout: "dashboard-admin",
  async mounted(){
    let bodyStyles = document.body.style;
    var configuracion = this.$store.getters.getConfiguracion;
     if(configuracion!=null){
       bodyStyles.setProperty('--primary-color', configuracion.cPrincipal);
        bodyStyles.setProperty('--secondary-color', configuracion.cSecundario);
     }else{
       let response = await this.$store.dispatch("getConfiguracion");
        bodyStyles.setProperty('--primary-color', response.cPrincipal);
        bodyStyles.setProperty('--secondary-color', response.cSecundario);
     }
  },
  components: {
    DetalleAreaTable,
  },
  data: () => ({}),
  computed: {},
};
</script>
